  <div class="col-md-10">
    <ul class="nav nav-tabs nav-justified">
      <li ng-class="{ active:imageListAndUploaderCtrl.getCurrentView('LIST') }"><a href ng-click="imageListAndUploaderCtrl.setCurrentView('LIST')">List</a></li>
      <li ng-class="{ active:imageListAndUploaderCtrl.getCurrentView('UPLOAD') }"><a href ng-click="imageListAndUploaderCtrl.setCurrentView('UPLOAD')">Upload</a></li>
    </ul>
    <div class="panel panel-default">
      <div class="panel-body" ng-show="imageListAndUploaderCtrl.getCurrentView('LIST') && imageListAndUploaderCtrl.isListEmpty()">
        <h5 >No images have been uploaded.</h5>
      </div>
      <div class="panel-body" ng-show="imageListAndUploaderCtrl.getCurrentView('LIST') && imageListAndUploaderCtrl.isListEmpty() == false">
        <!--<div class="row">-->
          <!--<image-carousel-upload></image-carousel-upload>-->
        <!--</div>-->

        <div class="row"><br></div>
        <!--<div class="row"><br></div>-->
        <!--<div class="row"><br></div>-->
        <!--<div class="row"><br></div>-->
        <!--<div class="row"><br></div>-->
        <div class="row">
          <image-edit-table></image-edit-table>
        </div>

      </div>
      <div class="panel-body" ng-show="imageListAndUploaderCtrl.getCurrentView('UPLOAD')">
        <image-uploader></image-uploader>
      </div>

    </div>


  </div>

