  <div class="col-md-10">
    <ul class="nav nav-tabs nav-justified">
      <li ng-class="{ active:imageListAndUploaderCtrl.getCurrentView('LIST') }"><a href ng-click="imageListAndUploaderCtrl.setCurrentView('LIST')">View</a></li>
      <li ng-class="{ active:imageListAndUploaderCtrl.getCurrentView('UPLOAD') }"><a href ng-click="imageListAndUploaderCtrl.setCurrentView('UPLOAD')">Upload</a></li>
    </ul>
    <div class="panel panel-default">
      <div class="panel-body">
        <!--<image-carousel ng-show="imageListAndUploaderCtrl.getCurrentView('LIST') && imageListAndUploaderCtrl.isListEmpty() == false"></image-carousel>-->
        <h5 ng-show="imageListAndUploaderCtrl.getCurrentView('LIST') && imageListAndUploaderCtrl.isListEmpty()">No images have been uploaded.</h5>
        <image-uploader ng-show="imageListAndUploaderCtrl.getCurrentView('UPLOAD')"></image-uploader>
      </div>

    </div>


  </div>

