<table class="table">
  <thead>
  <tr>
    <th width="25%">Thumbnail</th>
    <th>Title</th>
    <th>Description</th>
    <th>Sequence</th>
    <th>Actions</th>
  </tr>
  </thead>
  <tbody>
    <tr ng-repeat="image in imageEditTableCtrl.slidesEdit">
      <td><img src="{{image.path + image.title}}" height="100" widht="100"></td>
      <td><input type="text" class="form-control" id="imageTitle" placeholder="" ng-model="image.title"></td>
      <td><input type="text" class="form-control" id="imageDescription" placeholder="" ng-model="image.description"></td>
      <td>
        <button type="button" class="btn btn-default btn-sm" ng-click="imageEditTableCtrl.moveUp(image.sequence)">
          <span class="glyphicon glyphicon-arrow-up"></span>
        </button>
        <button type="button" class="btn btn-default btn-sm" ng-click="imageEditTableCtrl.moveDown(image.sequence)">
          <span class="glyphicon glyphicon-arrow-down"></span>
        </button>
      </td>
      <td></td>
    </tr>
  </tbody>
</table>