<link rel='stylesheet' href='view/manage/service-provider/stripe-button.css'>

<nav-bar-service-provider></nav-bar-service-provider>

<package-crud-admin ng-if="getManageCurrentView('PACKAGES')"></package-crud-admin>

<div ng-if="getManageCurrentView('ACCOUNT')">
  <div class="row">
    <br><br><br>
  </div>
  <div class="row">
    <br><br><br>
  </div>

  <div class="row">
    <div class="col-md-12 col-md-offset-5">
      <a href="https://connect.stripe.com/oauth/authorize?response_type=code&client_id=ca_59roPiIiLtRLhh56Jcq1v8dU0mBLowVq" class="stripe-connect"><span>Connect with Stripe</span></a>
    </div>
  </div>
</div>

