<!--<link rel="stylesheet" href="view/landing/main.css">-->

<style>
  .landing_header {
    background-color: #003354;
    height: 66px;
    z-index: 1;
    position: fixed;
    opacity: 0.95;
  }

  .navText {
    text-align: center;
    font-weight: bold;
    font-size: 16px;
    height: 35px;
    margin-top: 15px;
    cursor: pointer;
    white-space: nowrap;
  }
  .navText a {
    color: white;
    text-decoration: none;
  }

  .navGMP {
    text-align: center;
    background-color: #f06223;
    height: 80px;
    opacity: 1.0;
  }

  .test {
    display: block;
    width: 22px;
    height: 2px;
    background-color: #cccccc;
    border-radius: 1px;
    margin-bottom: 5px;

  }

  #headerNavButton {
    margin-top: 11px;
  }



  .navbar-default {
    background-color: #f06223;
    border-color: #f06223;
  }
  .navbar-default .navbar-brand {
    color: #f1f1f1;
  }
  .navbar-default .navbar-brand:hover, .navbar-default .navbar-brand:focus {
    color: #2c436a;
  }
  .navbar-default .navbar-text {
    color: #f1f1f1;
  }
  .navbar-default .navbar-nav > li > a {
    color: #f1f1f1;
  }
  .navbar-default .navbar-nav > li > a:hover, .navbar-default .navbar-nav > li > a:focus {
    color: #2c436a;
  }
  .navbar-default .navbar-nav > .active > a, .navbar-default .navbar-nav > .active > a:hover, .navbar-default .navbar-nav > .active > a:focus {
    color: #2c436a;
    background-color: #f07b47;
  }
  .navbar-default .navbar-nav > .open > a, .navbar-default .navbar-nav > .open > a:hover, .navbar-default .navbar-nav > .open > a:focus {
    color: #2c436a;
    background-color: #f07b47;
  }
  .navbar-default .navbar-toggle {
    border-color: #f07b47;
  }
  .navbar-default .navbar-toggle:hover, .navbar-default .navbar-toggle:focus {
    background-color: #f07b47;
  }
  .navbar-default .navbar-toggle .icon-bar {
    background-color: #f1f1f1;
  }
  .navbar-default .navbar-collapse,
  .navbar-default .navbar-form {
    border-color: #f1f1f1;
  }
  .navbar-default .navbar-link {
    color: #f1f1f1;
  }
  .navbar-default .navbar-link:hover {
    color: #2c436a;
  }

  @media (max-width: 767px) {
    .navbar-default .navbar-nav .open .dropdown-menu > li > a {
      color: #f1f1f1;
    }
    .navbar-default .navbar-nav .open .dropdown-menu > li > a:hover, .navbar-default .navbar-nav .open .dropdown-menu > li > a:focus {
      color: #2c436a;
    }
    .navbar-default .navbar-nav .open .dropdown-menu > .active > a, .navbar-default .navbar-nav .open .dropdown-menu > .active > a:hover, .navbar-default .navbar-nav .open .dropdown-menu > .active > a:focus {
      color: #2c436a;
      background-color: #f07b47;
    }
  }


  /*icon Fonts*/
  @font-face {
    font-family: 'icomoon';
    src:url('../../css/fonts/icomoon.eot');
    src:url('../../css/fonts/icomoon.eot') format('embedded-opentype'),
    url('../../css/fonts/icomoon.woff') format('woff'),
    url('../../css/fonts/icomoon.ttf') format('truetype'),
    url('../../css/fonts/icomoon.svg#icomoon') format('svg');
    font-weight: normal;
    font-style: normal;
  }

  [class^="icon-"], [class*=" icon-"] {
    font-family: 'icomoon';
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;

    /* Better Font Rendering =========== */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }

  .icon-tdmn_logo:before {
    content: "\e604";
  }
  .icon-GetMePro_Tablet:before {
    content: "\e600";
  }
  .icon-GetMePro_Smartphone:before {
    content: "\e601";
  }
  .icon-GetMePro_HomeTheater:before {
    content: "\e602";
  }
  .icon-GetMePro_HomeAutomation:before {
    content: "\e603";
  }



  .header2{
    background-color: #f06223;
    height: 85px;
    width: 200%;

  }

  body {
    background: url('../../images/app/GetMePro_servicer_main_2x.jpg') no-repeat center center fixed;
    -moz-background-size: cover;
    -o-background-size: cover;
    -webkit-background-size: cover;
    background-size: cover;

    /*background: url('../../images/app/GetMePro_servicer_main_2x.jpg');*/
    /*-webkit-background-size: cover;*/
    /*-moz-background-size: cover;*/
    /*-o-background-size: cover;*/
    /*background-size: 100%;*/
    /*background-position: left top;*/
    /*background-repeat: no-repeat;*/

    /*width: 100%;*/
    /*position: absolute;*/
    /*top: 0;*/
    /*left: 0;*/
  }

  .main {
    z-index: 0;
    width: 110%;
    max-width: 1000%;
    margin-left: -20px;
    margin-top: -20px;
    background-image: url('../../images/app/GetMePro_servicer_main_2x.jpg');
    background-size: 110%;
    background-position: left top;
    background-repeat: no-repeat;
    /*background-size: 100%;*/
    /*background-repeat: no-repeat;*/
    /*height: auto;*/
    /*overflow:hidden;*/
    /*height:100%;*/

  }

  .topBox {
    background-color: #ffffff;
    border-radius: 10px;
    opacity: 0.85;
    color: #f26101;
    font-size: 48px;
  }

  .topBox-sm {
    background-color: #ffffff;
    border-radius: 10px;
    opacity: 0.85;
    color: #f26101;
    font-size: 32px;
  }

  .topBox-xs {
    background-color: #ffffff;
    border-radius: 10px;
    opacity: 0.85;
    color: #f26101;
    font-size: 22px;
  }

  .stepBox {
    background-color: #ffffff;
    border-radius: 10px;
    opacity: 0.85;
    color: #f26101;
    font-size: 38px;
  }

  .stepBox .details {
    color: #003354;
    font-size: 18px;
    margin-top: 10px;
    margin-left: 20px;
  }

  .topBox-XS {
    background-color: #ffffff;
    border-radius: 10px;
    opacity: 0.85;
    height: 65px;
    color: #f26101;
    font-size: 24px;
  }

  .numberCircle {
    border-radius: 75%;
    /*behavior: url(PIE.htc); remove if you don't care about IE8 */
    width: 55px;
    height: 55px;
    padding: 8px;
    background: #003354;
    color: #ffffff;
    text-align: center;
    font-size: 28px;

  }

  .service_block {
    background-color: #91bed4;
    height: 500px;
  }

  .service_block .whatService {
    font-size: 36px;
    color: #ffffff;
    position: relative;
    top: 57px;
    letter-spacing: -1px;
  }

  .service_block .whatService .lg {
    font-size: 46px;
  }

  .service_block .whatService .md {
    font-size: 36px;
  }

  .service_block .whatService .sm {
    font-size: 30px;
  }

  .service_block .whatService .xs {
    font-size: 22px;
  }

  .service_block_2 {
    margin-left: auto;
    margin-right: auto;
  }

  .services {
    height: 280px;
    font-size: 16px;
    color: #003354;
    background-color: #e9f2f8;
    border-radius: 12px;
    top: 103px;
    text-align: center;
    width: 140px;

  }

  .services-right {
    height: 280px;
    font-size: 16px;
    color: #003354;
    background-color: #e9f2f8;
    border-radius: 12px;
    top: 103px;
    text-align: center;
    width: 140px;
    margin-left: 10px;
  }

  .services-xs {
    height: 280px;
    font-size: 16px;
    color: #003354;
    background-color: #e9f2f8;
    border-radius: 12px;
    top: 103px;
    text-align: center;

  }

  .icon-lg {
    margin-top: 13px;
    font-size: 100px;
  }

  .icon-md {
    margin-top: 13px;
    font-size: 80px;
  }

  .icon-sm {
    margin-top: 13px;
    font-size: 60px;
  }

  .selectButton {
    border: 2px;
    border-style: solid;
    border-radius: 4px;
    padding: 6px;
    cursor: pointer;
    margin-top: 30px;
  }


  .testimonial_block {
    background-color: #f8f8f8;
    height: 820px;
    color: #f26101;
  }

  .testimonial_block .header {
    font-size: 72px;
    font-family: 'Lato Black', sans-serif;
    font-weight: bolder;
    position: relative;
    top: 50px;
  }


  .testimonial_block .text {
    font-size: 24px;
    position: relative;
    top: 53px;
    word-spacing: -3p;
  }

  .testimonial {
    text-align: center;
  }

  .testimonial .names {
    font-size: 30px;
    margin-top: 8px;
    text-align: center;
  }
  .testimonial .md-name {
    font-size: 28px;
  }
  .testimonial .sm-name {
    font-size: 26px;
  }
  .testimonial .xs-name {
    font-size: 21px;
  }
  .testimonial .cityCompany {
    font-size: 14px;
    text-align: center;
  }
  .testimonial .md-cc {
    font-size: 12px;
  }
  .testimonial .sm-cc {
    font-size: 11px;
  }
  .testimonial .xs-cc {
    font-size: 10px;
  }
  .testimonial .reviews {
    font-size: 20px;
    margin-top: 25px;
    text-align: center;
  }
  .testimonial .md-review {
    font-size: 17px;
  }
  .testimonial .sm-review {
    font-size: 15px;
  }
  .testimonial .xs-review {
    font-size: 13px;
  }
  .midSection3 {
    background-color: #003354;
    color: #ffffff;
    text-align: left;
  }
  .midSection3 .articleHeader {
    position: relative;
    font-size: 48px;
    font-weight: bolder;
    top: 30px;
    letter-spacing: -1px;
  }
  .midSection3 .md-header {
    font-size: 40px;
  }
  .midSection3 .sm-header {
    font-size: 35px;
  }
  .midSection3 .xs-header {
    font-size: 30px;
  }
  .midSection3 .articleContent {
    position: relative;
    font-size: 14px;
    top: 32px;
  }
  .midSection3 .xs-content {
    font-size: 13px;
  }
  .midSection3 .dmnImage {
    font-size: 24px;
    color: #ffffff;
  }

  .midSection5 {
    background-color: #f8f8f8;
    color: #f26101;
  }
  .midSection5 .featuredHeader {
    font-size: 72px;
    font-weight: bolder;
    letter-spacing: -2px;
    text-align: center;
    position: relative;
  }
  .midSection5 .columnHeaders {
    font-size: 30px;
  }
  .midSection5 .price {
    font-size: 48px;
  }
  .midSection5 .joining {
    font-size: 24px;
  }

  .midSection5 .moreButton,
  .midSection5 .applyButton {
    border: 2px;
    border-style: solid;
    border-radius: 4px;
    padding: 6px;
    cursor: pointer;
    text-decoration: none;
    margin-top: 17px;
  }

  .progress_circles {
    position: relative;
    padding: 0;
    margin: 0;
    top: -8px;
    bottom: 40px;
  }
  .progress_circles li {
    list-style: none;
    display: inline-block;
    background: #ccc;
    width: 15px;
    height: 15px;
    border-radius: 50%;
    margin-right: 10px;
  }
  .progress_circles li.dark {
    background: #f26101;
  }

  .footer {
    background-color: #003354;
    color: #54849c;
    font-size: 18px;
  }
  .footer a {
    color: #54849c;
    text-decoration: none;
  }
  .footer .footerLinks {
    text-transform: uppercase;
    border-top-style: solid;
    font-size: 14px;
    position: relative;
    top: 28px;
    cursor: pointer;
  }
  .footer .help {
    font-size: 28px;
  }

  .marginBottom {
    margin-bottom: 100px;
  }

  .marginBottom-xs {
    margin-bottom: 20px;
  }


  .mainHeader {
    margin-top: 50px;
    margin-left: 100px;
  }

  .mainHeader-sm {
    margin-top: 50px;
    margin-left: 50px;
  }
</style>

<div class="container-fluid">
  <div class="row">
    <div class="col-md-12 col-lg-12 landing_header visible-md visible-lg">
      <div class="row">
        <div class="col-md-2 col-lg-2 visible-md visible-lg navText">
          <a ui-sref="info({category : 'about'})">ABOUT</a>
        </div>
        <div class="col-md-2 col-lg-2 visible-md visible-lg navText">
          <a ui-sref="app.packages.all">SERVICES</a>
        </div>
        <div class="col-md-4 col-lg-4">
          <div class="row visible-lg">
            <div class="col-lg-3"><br></div>
            <div class="col-lg-6 visible-lg navGMP">
              <a href="#/index"><h1 class="logo-bold">Get<test class="logo-medium">Me</test>Pro</h1></a>
            </div>
            <div class="col-md-6 visible-md navGMP">
              <a href="#/index"><h2 class="logo-bold">Get<test class="logo-medium">Me</test>Pro</h2></a>
            </div>
            <div class="col-lg-3"><br></div>
          </div>
          <div class="row visible-md">
            <div class="col-md-3"><br></div>
            <div class="col-md-6 navGMP">
              <a href="#/index"><h2 class="logo-bold">Get<test class="logo-medium">Me</test>Pro</h2></a>
            </div>
            <div class="col-md-3"><br></div>
          </div>
        </div>
        <div class="col-md-2 col-lg-2 visible-md visible-lg navText">
          <a ui-sref="info({category : 'faq'})">FAQ</a>
        </div>
        <div class="col-md-2 col-lg-2 visible-md visible-lg navText">
          <a ui-sref="info({category : 'contact'})">CONTACT</a>
        </div>
      </div>
    </div>
    <nav class="navbar navbar-default visible-xs visible-sm" role="navigation">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a href="#/index"><h3 class="logo-bold">Get<test class="logo-medium">Me</test>Pro</h3></a>
        </div>

        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
          <ul class="nav navbar-nav navbar-right">
            <li><a ui-sref="info({category : 'about'})"><h5>About</h5></a></li>
            <li><a ui-sref="app.packages.all"><h5>Services</h5></a></li>
            <li><a ui-sref="info({category : 'faq'})"><h5>FAQ</h5></a></li>
            <li><a ui-sref="info({category : 'contact'})"><h5>Contact</h5></a></li>
          </ul>
        </div>
    </nav>
  </div>


  <div class="row">
    <div class="col-lg-12 visible-lg">

      <div class="row"><br><br><br><br><br><br><br></div>
      <div class="row"><br><br><br><br><br><br><br></div>
      <div class="row"><br><br><br><br><br></div>

      <div class="col-lg-6 col-lg-offset-1">
        <div class="topBox">
          <div class="mainHeader text-left">
            <b>The Electronic <br> Service Marketplace.</b>
          </div>

        </div>
      </div>

      <div class="row marginBottom"><br></div>
      <div class="row marginBottom"><br></div>
      <div class="row marginBottom"><br></div>
      <div class="row marginBottom"><br></div>
      <div class="row marginBottom"><br></div>
      <div class="row marginBottom"><br></div>
      <div class="row marginBottom"><br></div>
      <div class="row marginBottom"><br></div>
      <div class="row marginBottom"><br></div>

      <div class="col-lg-4 col-lg-offset-1">
        <div class="numberCircle">1</div>
        <div class="row"><br></div>
        <div class="stepBox">
          Choose a location.
          <div class="row">
            <div class="col-lg-7">
              <div class="details">
                Looking for a pro to make your electronic dream come true. Locate Us. Currently, we are in DFW.
              </div>
            </div>
          </div>

        </div>
      </div>

      <div class="row marginBottom"><br></div>
      <div class="row marginBottom"><br></div>
      <div class="row marginBottom"><br></div>
      <div class="row marginBottom"><br></div>
      <div class="row marginBottom"><br></div>


      <div class="col-lg-4 col-lg-offset-1">
        <div class="numberCircle">2</div>
        <div class="row"><br></div>
        <div class="stepBox">
          Pick a service.
          <div class="row">
            <div class="col-lg-7">
              <div class="details">
                Get to know more about our best electronic service or let us know your custom requirement.
              </div>
            </div>
          </div>

        </div>
      </div>

      <div class="row marginBottom"><br></div>
      <div class="row marginBottom"><br></div>
      <div class="row marginBottom"><br></div>
      <div class="row marginBottom"><br></div>
      <div class="row marginBottom"><br></div>



      <div class="col-lg-4 col-lg-offset-1">
        <div class="numberCircle">3</div>
        <div class="row"><br></div>
        <div class="stepBox">
          Find a provider.
          <div class="row">
            <div class="col-lg-7">
              <div class="details">
                Hire one of our experienced knowledgeable pro to make your electronic dream come true.
              </div>
            </div>
          </div>

        </div>
      </div>

      <div class="row marginBottom"><br></div>
      <div class="row marginBottom"><br></div>
      <div class="row marginBottom"><br></div>
      <div class="row marginBottom"><br></div>
      <div class="row marginBottom"><br></div>


    </div>

    <div class="col-md-12 visible-md">

      <div class="row"><br><br><br><br><br><br><br></div>
      <div class="row"><br><br><br><br><br><br><br></div>
      <div class="row"><br><br><br><br><br></div>

      <div class="col-md-6 col-md-offset-1">
        <div class="topBox">
          <div class="mainHeader text-left">
            <b>The Electronic <br> Service Marketplace.</b>
          </div>

        </div>
      </div>

      <div class="row marginBottom"><br></div>
      <div class="row marginBottom"><br></div>
      <div class="row marginBottom"><br></div>
      <div class="row marginBottom"><br></div>
      <div class="row marginBottom"><br></div>
      <div class="row marginBottom"><br></div>
      <div class="row marginBottom"><br></div>
      <div class="row marginBottom"><br></div>
      <div class="row marginBottom"><br></div>

      <div class="col-md-4 col-md-offset-1">
        <div class="numberCircle">1</div>
        <div class="row"><br></div>
        <div class="stepBox">
          Choose a location.
          <div class="row">
            <div class="col-md-7">
              <div class="details">
                Looking for a pro to make your electronic dream come true. Locate Us. Currently, we are in DFW.
              </div>
            </div>
          </div>

        </div>
      </div>

      <div class="row marginBottom"><br></div>
      <div class="row marginBottom"><br></div>
      <div class="row marginBottom"><br></div>
      <div class="row marginBottom"><br></div>
      <div class="row marginBottom"><br></div>


      <div class="col-md-4 col-md-offset-1">
        <div class="numberCircle">2</div>
        <div class="row"><br></div>
        <div class="stepBox">
          Pick a service.
          <div class="row">
            <div class="col-md-7">
              <div class="details">
                Get to know more about our best electronic service or let us know your custom requirement.
              </div>
            </div>
          </div>

        </div>
      </div>

      <div class="row marginBottom"><br></div>
      <div class="row marginBottom"><br></div>
      <div class="row marginBottom"><br></div>
      <div class="row marginBottom"><br></div>
      <div class="row marginBottom"><br></div>



      <div class="col-md-4 col-md-offset-1">
        <div class="numberCircle">3</div>
        <div class="row"><br></div>
        <div class="stepBox">
          Find a provider.
          <div class="row">
            <div class="col-md-7">
              <div class="details">
                Hire one of our experienced knowledgeable pro to make your electronic dream come true.
              </div>
            </div>
          </div>

        </div>
      </div>

      <div class="row marginBottom"><br></div>
      <div class="row marginBottom"><br></div>
      <div class="row marginBottom"><br></div>
      <div class="row marginBottom"><br></div>
      <div class="row marginBottom"><br></div>


    </div>

    <div class="col-sm-12 visible-sm main">

      <div class="row"><br><br><br><br><br><br><br></div>

      <div class="col-sm-6 col-sm-offset-1">
        <div class="topBox-sm">
          <div class="mainHeader-sm text-left">
            <b>The Electronic <br> Service Marketplace.</b>
          </div>

        </div>
      </div>

      <div class="row marginBottom"><br></div>
      <div class="row marginBottom"><br></div>


    </div>

    <div class="col-xs-12 visible-xs main">

      <div class="row"><br><br></div>

      <div class="col-xs-10 col-xs-offset-1">
        <div class="topBox-xs">
          <div class="mainHeader-sm text-left">
            <b>The Electronic <br> Service Marketplace.</b>
          </div>

        </div>
      </div>

      <div class="row marginBottom-xs"><br></div>
      <div class="row marginBottom-xs"><br></div>
      <div class="row marginBottom-xs"><br></div>


    </div>
  </div>


  <div class="row">
    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 service_block">
      <div class="row">
        <div class="col-lg-12 visible-lg whatService lg text-center">
            <div class="lg">What service are you looking for in <u>DFW</u>?</div>
        </div>
        <div class="col-md-12 visible-md whatService md text-center">
          <div class="md">What service are you looking for in <u>DFW</u>?</div>
        </div>
        <div class="col-sm-12 visible-sm whatService sm text-center">
          <div class="sm">What service are you looking for in <u>DFW</u>?</div>
        </div>
        <div class="col-xs-12 visible-xs whatService xs text-center">
          <div class="xs">What service are you looking for in <u>DFW</u>?</div>
        </div>
      </div>

      <div class="row">
        <!--<div class="center-block services">-->
        <!--</div>-->
        <!--<div class="center-block services col-md-offset-1 ">-->
        <!--</div>-->

        <div class="col-lg-2 col-lg-offset-3 visible-lg services-xs">
          <div class="center-block icon-lg">
            <span class="icon-GetMePro_HomeTheater"></span>
          </div>
          <div class="center-block">
            <h3>Home Theater Installation</h3>
          </div>
          <div class="col-lg-8 col-lg-offset-2">
            <div ui-sref="app.packages.category({code: 'HTR'})" class="selectButton">Select</div>
          </div>

        </div>
        <div class="col-lg-2 col-lg-offset-2 visible-lg services-xs">
          <div class="center-block icon-lg">
            <span class="icon-GetMePro_HomeAutomation"></span>
          </div>
          <div class="center-block">
            <h3>Satellite Television Installation</h3>
          </div>
          <div class="col-lg-8 col-lg-offset-2">
            <div ui-sref="app.packages.category({code: 'STVR'})" class="selectButton">Select</div>
          </div>
        </div>

        <div class="col-md-2 col-md-offset-3 visible-md services-xs">
          <div class="center-block icon-md">
            <span class="icon-GetMePro_HomeTheater"></span>
          </div>
          <div class="center-block">
            <h3>Home Theater Installation</h3>
          </div>
          <div class="col-lg-8 col-lg-offset-2">
            <div ui-sref="app.packages.category({code: 'HTR'})" class="selectButton">Select</div>
          </div>
        </div>
        <div class="col-md-2 col-md-offset-2 visible-md services-xs">
          <div class="center-block icon-md">
            <span class="icon-GetMePro_HomeAutomation"></span>
          </div>
          <div class="center-block">
            <h3>Satellite Television Installation</h3>
          </div>
          <div class="col-lg-8 col-lg-offset-2">
            <div ui-sref="app.packages.category({code: 'STVR'})" class="selectButton">Select</div>
          </div>
        </div>

        <div class="col-sm-1 col-sm-offset-4 visible-sm services">
          <div class="center-block icon-sm">
            <span class="icon-GetMePro_HomeTheater"></span>
          </div>
          <div class="center-block">
            <h4>Home Theater Installation</h4>
          </div>
          <div class="col-lg-8 col-lg-offset-2">
            <div ui-sref="app.packages.category({code: 'HTR'})" class="selectButton">Select</div>
          </div>
        </div>
        <div class="col-sm-1 visible-sm services-right">
          <div class="center-block icon-sm">
            <span class="icon-GetMePro_HomeAutomation"></span>
          </div>
          <div class="center-block">
            <h4>Satellite Television Installation</h4>
          </div>
          <div class="col-lg-8 col-lg-offset-2">
            <div ui-sref="app.packages.category({code: 'STVR'})" class="selectButton">Select</div>
          </div>
        </div>

        <div class="col-xs-5 visible-xs services-xs">
          <div class="center-block icon-md">
            <span class="icon-GetMePro_HomeTheater"></span>
          </div>
          <div class="center-block">
            <h3>Home Theater Installation</h3>
          </div>
          <div class="col-lg-8 col-lg-offset-2">
            <div ui-sref="app.packages.category({code: 'HTR'})" class="selectButton">Select</div>
          </div>
        </div>
        <div class="col-xs-5 col-xs-offset-2 visible-xs services-xs">
          <div class="center-block icon-md">
            <span class="icon-GetMePro_HomeAutomation"></span>
          </div>
          <div class="center-block">
            <h3>Satellite Television Installation</h3>
          </div>
          <div class="col-lg-8 col-lg-offset-2">
            <div ui-sref="app.packages.category({code: 'STVR'})" class="selectButton">Select</div>
          </div>
        </div>

      </div>

    </div>
  </div>

  <div class="row">
    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 testimonial_block">
      <div class="row">
        <div class="text-center header">
          Why us?
        </div>
      </div>
      <div class="row">
        <div class="text-center text">
          Check out what some of our customers and service providers are saying.
        </div>
      </div>

      <div class="row"><br><br></div>
      <div class="row"><br><br></div>
      <div class="row"><br><br></div>

      <div class="col-lg-2 col-lg-offset-3 visible-lg testimonial">
        <div class="center-block">
          <img src="images/app/GetMePro_customer_2x.png" width="262px" height="262px"/>
        </div>

        <div class="names text-center"><b>Susan</b></div>
        <div class="cityCompany text-center">Irving, TX</div>
        <div class="reviews text-center">"Super nice guys. Very professional, quick and efficient! Made sure all my wiring was in place and are very very reasonably priced!"</div>
      </div>
      <div class="col-lg-2 col-lg-offset-2 visible-lg testimonial">
        <img src="images/app/GetMePro_servicer_2x.png" width="262px" height="262px"/>
        <div class="names text-center"><b>John</b></div>
        <div class="cityCompany text-center">Unlimited Satellite Installations</div>
        <div class="reviews text-center">"GetMePro connects my business to more customers that ever before; reducing advertising costs and increasing my bottom line."</div>
      </div>

      <div class="col-md-2 col-md-offset-3 visible-md testimonial">
        <img src="images/app/GetMePro_customer_2x.png" width="192px" height="192px"/>

        <div class="names md-name text-center"><b>Susan</b></div>
        <div class="cityCompany md-cc text-center">Irving, TX</div>
        <div class="reviews md-review text-center">"Super nice guys. Very professional, quick and efficient! Made sure all my wiring was in place and are very very reasonably priced!"</div>

      </div>
      <div class="col-md-2 col-md-offset-2 visible-md testimonial">
        <img src="images/app/GetMePro_servicer_2x.png" width="192px" height="192px"/>

        <div class="names md-name text-center"><b>John</b></div>
        <div class="cityCompany md-cc text-center">Unlimited Satellite Installations</div>
        <div class="reviews md-review text-center">"GetMePro connects my business to more customers that ever before; reducing advertising costs and increasing my bottom line."</div>
      </div>

      <div class="col-sm-3 col-sm-offset-2 visible-sm testimonial">
        <img src="images/app/GetMePro_customer_2x.png" width="192px" height="192px"/>

        <div class="names sm-name text-center"><b>Susan</b></div>
        <div class="cityCompany sm-cc text-center">Irving, TX</div>
        <div class="reviews sm-review text-center">"Super nice guys. Very professional, quick and efficient! Made sure all my wiring was in place and are very very reasonably priced!"</div>

      </div>
      <div class="col-sm-3 col-sm-offset-2 visible-sm testimonial">
        <img src="images/app/GetMePro_servicer_2x.png" width="192px" height="192px"/>

        <div class="names sm-name text-center"><b>John</b></div>
        <div class="cityCompany sm-cc text-center">Unlimited Satellite Installations</div>
        <div class="reviews sm-review text-center">"GetMePro connects my business to more customers that ever before; reducing advertising costs and increasing my bottom line."</div>
      </div>

      <div class="col-xs-5 visible-xs testimonial">
        <img src="images/app/GetMePro_customer_2x.png" width="152px" height="152px"/>

        <div class="names xs-name text-center"><b>Susan</b></div>
        <div class="cityCompany xs-cc text-center">Irving, TX</div>
        <div class="reviews xs-review text-center">"Super nice guys. Very professional, quick and efficient! Made sure all my wiring was in place and are very very reasonably priced!"</div>

      </div>
      <div class="col-xs-5 col-xs-offset-2 visible-xs testimonial">
        <img src="images/app/GetMePro_servicer_2x.png" width="152px" height="152px"/>

        <div class="names xs-name text-center"><b>John</b></div>
        <div class="cityCompany xs-cc text-center">Unlimited Satellite Installations</div>
        <div class="reviews xs-review text-center">"GetMePro connects my business to more customers that ever before; reducing advertising costs and increasing my bottom line."</div>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 midSection3">
      <div class="row"><br><br></div>
      <div class="row">
        <div class="col-lg-6 col-lg-offset-3 visible-lg">
          <div class="articleHeader">"Do you live in Frisco?"</div>
          <div class="articleContent "><div class="grid_6 alpha omega">GetMePro.com launched its services in Frisco TX in December 2014. Now, this Marketplace is listed at Frisco Chamber of Commerce website for the esteemed resident of Frisco. Please visit <a style="color:white;text-decoration:none" href=http://www.friscochamber.com/Home-Theater-Design/GetMeProcom-7021 target=_BLANK>GetMePro.com @ Frisco Chamber of Commerce.</a></div></div>
          <p>&nbsp;</p>
          <div class="row"><br></div>
          <div class="dmnImage"><span class="icon-tdmn_logo"></span></div>
        </div>
      </div>


      <div class="col-md-12 visible-md">
        <div class="articleHeader md-header">"Do you live in Frisco?"</div>
        <div class="articleContent "><div class="grid_6 alpha omega">GetMePro.com launched its services in Frisco TX in December 2014. Now, this Marketplace is listed at Frisco Chamber of Commerce website for the esteemed resident of Frisco. Please visit <a style="color:white;text-decoration:none" href=http://www.friscochamber.com/Home-Theater-Design/GetMeProcom-7021 target=_BLANK>GetMePro.com @ Frisco Chamber of Commerce.</a></div></div>
        <p>&nbsp;</p>
        <div class="row"><br></div>
        <div class="dmnImage"><span class="icon-tdmn_logo"></span></div>
      </div>

      <div class="col-sm-12 visible-sm">
        <div class="articleHeader sm-header">"Do you live in Frisco?"</div>
        <div class="articleContent "><div class="grid_6 alpha omega">GetMePro.com launched its services in Frisco TX in December 2014. Now, this Marketplace is listed at Frisco Chamber of Commerce website for the esteemed resident of Frisco. Please visit <a style="color:white;text-decoration:none" href=http://www.friscochamber.com/Home-Theater-Design/GetMeProcom-7021 target=_BLANK>GetMePro.com @ Frisco Chamber of Commerce.</a></div></div>
        <p>&nbsp;</p>
        <div class="row"><br></div>
        <div class="dmnImage"><span class="icon-tdmn_logo"></span></div>
      </div>

      <div class="col-xs-12 visible-xs">
        <div class="articleHeader xs-header">"Do you live in Frisco?"</div>
        <div class="articleContent xs-content"><div class="grid_6 alpha omega">GetMePro.com launched its services in Frisco TX in December 2014. Now, this Marketplace is listed at Frisco Chamber of Commerce website for the esteemed resident of Frisco. Please visit <a style="color:white;text-decoration:none" href=http://www.friscochamber.com/Home-Theater-Design/GetMeProcom-7021 target=_BLANK>GetMePro.com @ Frisco Chamber of Commerce.</a></div></div>
        <p>&nbsp;</p>
        <div class="row"><br></div>
        <div class="dmnImage"><span class="icon-tdmn_logo"></span></div>
      </div>

      <div class="row"><br><br><br><br></div>
    </div>
  </div>


  <div class="row">
    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 midSection5">

      <div class="row"><br><br><br></div>

      <div class="row">
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
          <div class="featuredHeader">Featured Providers</div>
        </div>
      </div>

      <div class="row"><br><br><br></div>

      <div class="row">
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
          <div class="col-lg-2 col-lg-offset-2">
            <div class="row">
              <div class="columnHeaders">
                Total SPACE Audio/Video
              </div>
            </div>

            <div class="row"><br></div>

            <div class="row">
              <ul class="progress_circles">
                <li class="dark"></li>
                <li class="dark"></li>
                <li class="dark"></li>
                <li class="dark"></li>
                <li></li>
              </ul>
            </div>

            <div class="row">
              At Total Space we are dedicated to providing our clients with the ultimate experience. We commit to ensuring their complete satisfaction.
              <br><br>
              We have over 9 years experience in the industry.
              <br><br>
              Home theater & TV installation
            </div>

            <div class="row"><br></div>

            <div class="row">
              <div class="col-lg-6 price">
                $120
              </div>
              <div class="col-lg-6">
                <div ui-sref="app.packages.all" class="moreButton text-center">Packages</div>
              </div>
            </div>
          </div>
          <div class="col-lg-1"></div>
          <div class="col-lg-2">
            <div class="row">
              <div class="columnHeaders">
                Anywhere Wireless <br>LLC
              </div>
            </div>

            <div class="row"><br></div>

            <div class="row">
              <ul class="progress_circles">
                <li class="dark"></li>
                <li class="dark"></li>
                <li class="dark"></li>
                <li class="dark"></li>
                <li></li>
              </ul>
            </div>

            <div class="row">
              Anywhere Wireless LLC have been offering satellite TV services for residential and business customers for the past 15 years.
              <br><br>
              We are SBCA trained and certified Installers.
              <br><br>
              Television installation
            </div>

            <div class="row"><br></div>

            <div class="row">
              <div class="col-lg-6 price">
                $75
              </div>
              <div class="col-lg-6">
                <div ui-sref="app.packages.all" class="moreButton text-center">Packages</div>
              </div>
            </div>
          </div>
          <div class="col-lg-1"></div>
          <div class="col-lg-2">
            <div class="row">
              <div class="columnHeaders">
                Unlimited Satellites Installations
              </div>
            </div>

            <div class="row"><br></div>

            <div class="row">
              <ul class="progress_circles">
                <li class="dark"></li>
                <li class="dark"></li>
                <li class="dark"></li>
                <li class="dark"></li>
                <li></li>
              </ul>
            </div>

            <div class="row">
              Authorized dealer of Glorystar and in Satellite industry far 6 years experience. Glorystar install upgrades and swap to G19. World TV, DirecTV, Dish Network, Globecast. Speak English & Spanish. Service TX, AR, LA, NM, OK.
              <br><br>
              Satellite TV installation
            </div>

            <div class="row"><br></div>

            <div class="row">
              <div class="col-lg-6 price">
                $99
              </div>
              <div class="col-lg-6">
                <div ui-sref="app.packages.all" class="moreButton text-center">Packages</div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="row"><br><br><br></div>
      <div class="row">
        <div class="col-lg-12 visible-lg joining text-center">
          Interested in joining our elite group of services providers?
        </div>
        <div class="col-md-12 visible-md joining text-center">
          Interested in joining our elite group of services providers?
        </div>
        <div class="col-sm-12 visible-sm joining text-center">
          Interested in joining our elite group of services providers?
        </div>
        <div class="col-xs-12 visible-xs joining text-center">
          Interested in joining our elite group of services providers?
        </div>
      </div>
      <div class="row">
        <div class="col-lg-2 col-lg-offset-5">
          <div class="moreButton text-center">
            Call us: (469) 247-1174
          </div>
        </div>
      </div>

      <div class="row"><br><br><br></div>
    </div>

    <div class="row"><br><br><br></div>
  </div>


  <div class="row">
    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 footer">
      <div class="row"><br><br></div>
      <div class="row">
        <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4 visible-sm visible-md visible-lg text-center">
          <div class="row help">
            <b>Need help?</b>
          </div>
          <div class="row"><br></div>
          <div class="row">
            Call: 469 247 1174
          </div>
          <div class="row"><br><br></div>
          <div class="row">or</div>
          <div class="row"><br><br></div>
          <div class="row">Email:</div>
          <div class="row">sales@getmepro.com</div>
        </div>
        <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6 visible-sm visible-md visible-lg footerLinks">
          <div class="row"><br></div>
          <div class="row">
            <div class="col-xs-3 col-sm-3 col-md-3 col-lg-3">
              <a href="#/app/info/terms">TERMS OF SERVICE</a>
            </div>
            <div class="col-xs-3 col-sm-3 col-md-3 col-lg-3">
              <a href="#/app/info/privacy">PRIVACY POLICY</a>
            </div>
            <div class="col-xs-2 col-sm-2 col-md-2 col-lg-2">
              <a href="#/app/info/about">ABOUT US</a>
            </div>
            <div class="col-xs-2 col-sm-2 col-md-2 col-lg-2">
              <a href="#/app/info/contact">CONTACT</a>
            </div>
            <div class="col-xs-2 col-sm-2 col-md-2 col-lg-2">
             <a href="#/app/info/faq">FAQ</a>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-xs-12 visible-xs footerLinks">
            <div class="row"><br></div>
            <div class="row">
              <div class="col-xs-3">
                <a href="#/app/info/terms">TERMS OF SERVICE</a>
              </div>
              <div class="col-xs-2">
                <a href="#/app/info/privacy">PRIVACY POLICY</a>
              </div>
              <div class="col-xs-2">
                <a href="#/app/info/about">ABOUT US</a>
              </div>
              <div class="col-xs-3">
                <a href="#/app/info/contact">CONTACT</a>
              </div>
              <div class="col-xs-2">
                <a href="#/app/info/faq">FAQ</a>
              </div>
            </div>
          </div>
        </div>




      </div>

      <div class="row"><br><br><br><br><br><br></div>

      <div class="row">
        <div class="col-xs-12 visible-xs">
          <div class="row">
            Need help?
          </div>
          <div class="row">
            Call: 469 247 1174
          </div>
          <div class="row"><br></div>
          <div class="row">or</div>
          <div class="row"><br></div>
          <div class="row">Email:</div>
          <div class="row">sales@getmepro.com</div>
        </div>
      </div>
    </div>
  </div>




</div>
