<!--<link rel="stylesheet" href="view/landing/main.css">-->

<style>
  .landing_header {
    background-color: #003354;
    height: 66px;
    z-index: 1;
    position: fixed;
  }

  .navText {
    text-align: center;
    font-weight: bold;
    font-size: 16px;
    height: 35px;
    margin-top: 15px;
    cursor: pointer;
    white-space: nowrap;
  }
  .navText a {
    color: white;
    text-decoration: none;
  }

  .navGMP {
    text-align: center;
    background-color: #f06223;
    height: 80px;
  }

  .test {
    display: block;
    width: 22px;
    height: 2px;
    background-color: #cccccc;
    border-radius: 1px;
    margin-bottom: 5px;

  }

  #headerNavButton {
    margin-top: 11px;
  }



  .navbar-default {
    background-color: #f06223;
    border-color: #f06223;
  }
  .navbar-default .navbar-brand {
    color: #f1f1f1;
  }
  .navbar-default .navbar-brand:hover, .navbar-default .navbar-brand:focus {
    color: #2c436a;
  }
  .navbar-default .navbar-text {
    color: #f1f1f1;
  }
  .navbar-default .navbar-nav > li > a {
    color: #f1f1f1;
  }
  .navbar-default .navbar-nav > li > a:hover, .navbar-default .navbar-nav > li > a:focus {
    color: #2c436a;
  }
  .navbar-default .navbar-nav > .active > a, .navbar-default .navbar-nav > .active > a:hover, .navbar-default .navbar-nav > .active > a:focus {
    color: #2c436a;
    background-color: #f07b47;
  }
  .navbar-default .navbar-nav > .open > a, .navbar-default .navbar-nav > .open > a:hover, .navbar-default .navbar-nav > .open > a:focus {
    color: #2c436a;
    background-color: #f07b47;
  }
  .navbar-default .navbar-toggle {
    border-color: #f07b47;
  }
  .navbar-default .navbar-toggle:hover, .navbar-default .navbar-toggle:focus {
    background-color: #f07b47;
  }
  .navbar-default .navbar-toggle .icon-bar {
    background-color: #f1f1f1;
  }
  .navbar-default .navbar-collapse,
  .navbar-default .navbar-form {
    border-color: #f1f1f1;
  }
  .navbar-default .navbar-link {
    color: #f1f1f1;
  }
  .navbar-default .navbar-link:hover {
    color: #2c436a;
  }

  @media (max-width: 767px) {
    .navbar-default .navbar-nav .open .dropdown-menu > li > a {
      color: #f1f1f1;
    }
    .navbar-default .navbar-nav .open .dropdown-menu > li > a:hover, .navbar-default .navbar-nav .open .dropdown-menu > li > a:focus {
      color: #2c436a;
    }
    .navbar-default .navbar-nav .open .dropdown-menu > .active > a, .navbar-default .navbar-nav .open .dropdown-menu > .active > a:hover, .navbar-default .navbar-nav .open .dropdown-menu > .active > a:focus {
      color: #2c436a;
      background-color: #f07b47;
    }
  }

  .header2{
    background-color: #f06223;
    height: 85px;
    width: 200%;

  }

  .main_img {
    z-index: 0;
    width: 110%;
    max-width: 1000%;
    margin-left: -20px;
    margin-top: -20px;
  }

  .service_block {
    background-color: #91bed4;
    height: 500px;
  }

  .service_block .whatService {
    font-size: 36px;
    color: #ffffff;
    position: relative;
    top: 57px;
    letter-spacing: -1px;
  }

  .service_block .whatService .lg {
    font-size: 36px;
  }

  .service_block .whatService .md {
    font-size: 30px;
  }

  .service_block .whatService .sm {
    font-size: 26px;
  }

  .service_block .whatService .xs {
    font-size: 20px;
  }
</style>

<div class="container-fluid">
  <div class="row">
    <div class="col-md-12 col-lg-12 landing_header visible-md visible-lg">
      <div class="row">
        <div class="col-md-2 col-lg-2 visible-md visible-lg navText">
          <a ui-sref="info({category : 'about'})">ABOUT</a>
        </div>
        <div class="col-md-2 col-lg-2 visible-md visible-lg navText">
          <a ui-sref="app.packages.all">SERVICES</a>
        </div>
        <div class="col-md-4 col-lg-4">
          <div class="row visible-lg">
            <div class="col-lg-3"><br></div>
            <div class="col-lg-6 navGMP">
              <a href="#/index"><h2 class="logo-bold">Get<test class="logo-medium">Me</test>Pro</h2></a>
            </div>
            <div class="col-lg-3"><br></div>
          </div>
          <div class="row visible-md">
            <div class="col-md-3"><br></div>
            <div class="col-md-6 navGMP">
              <a href="#/index"><h2 class="logo-bold">Get<test class="logo-medium">Me</test>Pro</h2></a>
            </div>
            <div class="col-md-3"><br></div>
          </div>
        </div>
        <div class="col-md-2 col-lg-2 visible-md visible-lg navText">
          <a ui-sref="info({category : 'faq'})">FAQ</a>
        </div>
        <div class="col-md-2 col-lg-2 visible-md visible-lg navText">
          <a ui-sref="info({category : 'contact'})">CONTACT</a>
        </div>
      </div>
    </div>
    <nav class="navbar navbar-default visible-xs visible-sm" role="navigation">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a href="#/index"><h3 class="logo-bold">Get<test class="logo-medium">Me</test>Pro</h3></a>
        </div>

        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
          <ul class="nav navbar-nav navbar-right">
            <li><a ui-sref="info({category : 'about'})"><h5>About</h5></a></li>
            <li><a ui-sref="info({category : 'about'})"><h5>Services</h5></a></li>
            <li><a ui-sref="info({category : 'faq'})"><h5>FAQ</h5></a></li>
            <li><a ui-sref="info({category : 'contact'})"><h5>Contact</h5></a></li>
          </ul>
        </div>
    </nav>
  </div>


  <div class="row">
    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
      <img class="main_img" src='../../images/app/GetMePro_servicer_main_2x.jpg'>
    </div>
  </div>


  <div class="row">
    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 service_block">
      <div class="row">
        <div class="col-lg-12 visible-lg whatService lg text-center">
            What service are you looking for in <u>DFW</u>?
        </div>
      </div>
    </div>
  </div>


</div>
