/*
Responsive 996px grid system ~ Base CSS.

Uses the HTML5 Boilerplate by Paul Irish with a few tweaks
html5boilerplate.com

*/


/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */

html,
button,
input,
select,
textarea {
  color: #222;
}

body {
  font-size: 1em;
  line-height: 1.4;
}

/*
 * Remove text-shadow in selection highlight: h5bp.com/i
 * These selection declarations have to be separate.
 * Customize the background color to match your design.
 */

::-moz-selection {
  background: #b3d4fc;
  text-shadow: none;
}

::selection {
  background: #b3d4fc;
  text-shadow: none;
}

/*
 * A better looking default horizontal rule
 */

hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #ccc;
  margin: 1em 0;
  padding: 0;
}

/*
 * Remove the gap between images and the bottom of their containers: h5bp.com/i/440
 */

img {
  vertical-align: middle;
}

/*
 * Remove default fieldset styles.
 */

fieldset {
  border: 0;
  margin: 0;
  padding: 0;
}

/*
 * Allow only vertical resizing of textareas.
 */

textarea {
  resize: vertical;
}

/* ==========================================================================
   Chrome Frame prompt
   ========================================================================== */

.chromeframe {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}

/* ==========================================================================
   Helper classes
   ========================================================================== */

/*
 * Image replacement
 */

.ir {
  background-color: transparent;
  border: 0;
  overflow: hidden;
  /* IE 6/7 fallback */
  *text-indent: -9999px;
}

.ir:before {
  content: "";
  display: block;
  width: 0;
  height: 150%;
}

/*
 * Hide from both screenreaders and browsers: h5bp.com/u
 */

.hidden {
  display: none !important;
  visibility: hidden;
}

/*
 * Hide only visually, but have it available for screenreaders: h5bp.com/v
 */

.visuallyhidden {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
}

/*
 * Extends the .visuallyhidden class to allow the element to be focusable
 * when navigated to via the keyboard: h5bp.com/p
 */

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
  clip: auto;
  height: auto;
  margin: 0;
  overflow: visible;
  position: static;
  width: auto;
}

/*
 * Hide visually and from screenreaders, but maintain layout
 */

.invisible {
  visibility: hidden;
}

/*
 * Clearfix: contain floats
 *
 * For modern browsers
 * 1. The space content is one way to avoid an Opera bug when the
 *    `contenteditable` attribute is included anywhere else in the document.
 *    Otherwise it causes space to appear at the top and bottom of elements
 *    that receive the `clearfix` class.
 * 2. The use of `table` rather than `block` is only necessary if using
 *    `:before` to contain the top-margins of child elements.
 */

.clearfix:before,
.clearfix:after {
  content: " "; /* 1 */
  display: table; /* 2 */
}

.clearfix:after {
  clear: both;
}

/*
 * For IE 6/7 only
 * Include this rule to trigger hasLayout and contain floats.
 */

.clearfix {
  *zoom: 1;
}


/*
 * Clear after each row
 */

.clear {
  clear: both;
  display: block;
  overflow: hidden;
  visibility: hidden;
  width: 0;
  height: 0;
}

/*! normalize.css v1.1.0 | MIT License | git.io/normalize */

/* ==========================================================================
   HTML5 display definitions
   ========================================================================== */

/**
 * Correct `block` display not defined in IE 6/7/8/9 and Firefox 3.
 */

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
nav,
section,
summary {
  display: block;
}

/**
 * Correct `inline-block` display not defined in IE 6/7/8/9 and Firefox 3.
 */

audio,
canvas,
video {
  display: inline-block;
  *display: inline;
  *zoom: 1;
}

/**
 * Prevent modern browsers from displaying `audio` without controls.
 * Remove excess height in iOS 5 devices.
 */

audio:not([controls]) {
  display: none;
  height: 0;
}

/**
 * Address styling not present in IE 7/8/9, Firefox 3, and Safari 4.
 * Known issue: no IE 6 support.
 */

[hidden] {
  display: none;
}

/* ==========================================================================
   Base
   ========================================================================== */

/**
 * 1. Correct text resizing oddly in IE 6/7 when body `font-size` is set using
 *    `em` units.
 * 2. Prevent iOS text size adjust after orientation change, without disabling
 *    user zoom.
 */

html {
  font-size: 100%; /* 1 */
  -webkit-text-size-adjust: 100%; /* 2 */
  -ms-text-size-adjust: 100%; /* 2 */
}

/**
 * Address `font-family` inconsistency between `textarea` and other form
 * elements.
 */

html,
button,
input,
select,
textarea {
  font-family: sans-serif;
}

/**
 * Address margins handled incorrectly in IE 6/7.
 */

body {
  margin: 0;
}

/* ==========================================================================
   Links
   ========================================================================== */

/**
 * Address `outline` inconsistency between Chrome and other browsers.
 */

a:focus {
  outline: thin dotted;
}

/**
 * Improve readability when focused and also mouse hovered in all browsers.
 */

a:active,
a:hover {
  outline: 0;
}

/* ==========================================================================
   Typography
   ========================================================================== */

/**
 * Address font sizes and margins set differently in IE 6/7.
 * Address font sizes within `section` and `article` in Firefox 4+, Safari 5,
 * and Chrome.
 */

h1 {
  font-size: 2em;
  margin: 0.67em 0;
}

h2 {
  font-size: 1.5em;
  margin: 0.83em 0;
}

h3 {
  font-size: 1.17em;
  margin: 1em 0;
}

h4 {
  font-size: 1em;
  margin: 1.33em 0;
}

h5 {
  font-size: 0.83em;
  margin: 1.67em 0;
}

h6 {
  font-size: 0.67em;
  margin: 2.33em 0;
}

/**
 * Address styling not present in IE 7/8/9, Safari 5, and Chrome.
 */

abbr[title] {
  border-bottom: 1px dotted;
}

/**
 * Address style set to `bolder` in Firefox 3+, Safari 4/5, and Chrome.
 */

b,
strong {
  font-weight: bold;
}

blockquote {
  margin: 1em 40px;
}

/**
 * Address styling not present in Safari 5 and Chrome.
 */

dfn {
  font-style: italic;
}

/**
 * Address differences between Firefox and other browsers.
 * Known issue: no IE 6/7 normalization.
 */

hr {
  -moz-box-sizing: content-box;
  box-sizing: content-box;
  height: 0;
}

/**
 * Address styling not present in IE 6/7/8/9.
 */

mark {
  background: #ff0;
  color: #000;
}

/**
 * Address margins set differently in IE 6/7.
 */

p,
pre {
  margin: 1em 0;
}

/**
 * Correct font family set oddly in IE 6, Safari 4/5, and Chrome.
 */

code,
kbd,
pre,
samp {
  font-family: monospace, serif;
  _font-family: 'courier new', monospace;
  font-size: 1em;
}

/**
 * Improve readability of pre-formatted text in all browsers.
 */

pre {
  white-space: pre;
  white-space: pre-wrap;
  word-wrap: break-word;
}

/**
 * Address CSS quotes not supported in IE 6/7.
 */

q {
  quotes: none;
}

/**
 * Address `quotes` property not supported in Safari 4.
 */

q:before,
q:after {
  content: '';
  content: none;
}

/**
 * Address inconsistent and variable font size in all browsers.
 */

small {
  font-size: 80%;
}

/**
 * Prevent `sub` and `sup` affecting `line-height` in all browsers.
 */

sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sup {
  top: -0.5em;
}

sub {
  bottom: -0.25em;
}

/* ==========================================================================
   Lists
   ========================================================================== */

/**
 * Address margins set differently in IE 6/7.
 */

dl,
menu,
ol,
ul {
  margin: 1em 0;
}

dd {
  margin: 0 0 0 40px;
}

/**
 * Address paddings set differently in IE 6/7.
 */

menu,
ol,
ul {
  padding: 0 0 0 40px;
}

/**
 * Correct list images handled incorrectly in IE 7.
 */

nav ul,
nav ol {
  list-style: none;
  list-style-image: none;
}

/* ==========================================================================
   Embedded content
   ========================================================================== */

/**
 * 1. Remove border when inside `a` element in IE 6/7/8/9 and Firefox 3.
 * 2. Improve image quality when scaled in IE 7.
 */

img {
  border: 0; /* 1 */
  -ms-interpolation-mode: bicubic; /* 2 */
}

/**
 * Correct overflow displayed oddly in IE 9.
 */

svg:not(:root) {
  overflow: hidden;
}

/* ==========================================================================
   Figures
   ========================================================================== */

/**
 * Address margin not present in IE 6/7/8/9, Safari 5, and Opera 11.
 */

figure {
  margin: 0;
}

/* ==========================================================================
   Forms
   ========================================================================== */

/**
 * Correct margin displayed oddly in IE 6/7.
 */

form {
  margin: 0;
}

/**
 * Define consistent border, margin, and padding.
 */

fieldset {
  border: 1px solid #c0c0c0;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em;
}

/**
 * 1. Correct color not being inherited in IE 6/7/8/9.
 * 2. Correct text not wrapping in Firefox 3.
 * 3. Correct alignment displayed oddly in IE 6/7.
 */

legend {
  border: 0; /* 1 */
  padding: 0;
  white-space: normal; /* 2 */
  *margin-left: -7px; /* 3 */
}

/**
 * 1. Correct font size not being inherited in all browsers.
 * 2. Address margins set differently in IE 6/7, Firefox 3+, Safari 5,
 *    and Chrome.
 * 3. Improve appearance and consistency in all browsers.
 */

button,
input,
select,
textarea {
  font-size: 100%; /* 1 */
  margin: 0; /* 2 */
  vertical-align: baseline; /* 3 */
  *vertical-align: middle; /* 3 */
}

/**
 * Address Firefox 3+ setting `line-height` on `input` using `!important` in
 * the UA stylesheet.
 */

button,
input {
  line-height: normal;
}

/**
 * Address inconsistent `text-transform` inheritance for `button` and `select`.
 * All other form control elements do not inherit `text-transform` values.
 * Correct `button` style inheritance in Chrome, Safari 5+, and IE 6+.
 * Correct `select` style inheritance in Firefox 4+ and Opera.
 */

button,
select {
  text-transform: none;
}

/**
 * 1. Avoid the WebKit bug in Android 4.0.* where (2) destroys native `audio`
 *    and `video` controls.
 * 2. Correct inability to style clickable `input` types in iOS.
 * 3. Improve usability and consistency of cursor style between image-type
 *    `input` and others.
 * 4. Remove inner spacing in IE 7 without affecting normal text inputs.
 *    Known issue: inner spacing remains in IE 6.
 */

button,
html input[type="button"], /* 1 */
input[type="reset"],
input[type="submit"] {
  -webkit-appearance: button; /* 2 */
  cursor: pointer; /* 3 */
  *overflow: visible;  /* 4 */
}

/**
 * Re-set default cursor for disabled elements.
 */

button[disabled],
html input[disabled] {
  cursor: default;
}

/**
 * 1. Address box sizing set to content-box in IE 8/9.
 * 2. Remove excess padding in IE 8/9.
 * 3. Remove excess padding in IE 7.
 *    Known issue: excess padding remains in IE 6.
 */

input[type="checkbox"],
input[type="radio"] {
  box-sizing: border-box; /* 1 */
  padding: 0; /* 2 */
  *height: 13px; /* 3 */
  *width: 13px; /* 3 */
}

/**
 * 1. Address `appearance` set to `searchfield` in Safari 5 and Chrome.
 * 2. Address `box-sizing` set to `border-box` in Safari 5 and Chrome
 *    (include `-moz` to future-proof).
 */

input[type="search"] {
  -webkit-appearance: textfield; /* 1 */
  -moz-box-sizing: content-box;
  -webkit-box-sizing: content-box; /* 2 */
  box-sizing: content-box;
}

/**
 * Remove inner padding and search cancel button in Safari 5 and Chrome
 * on OS X.
 */

input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}

/**
 * Remove inner padding and border in Firefox 3+.
 */

button::-moz-focus-inner,
input::-moz-focus-inner {
  border: 0;
  padding: 0;
}

/**
 * 1. Remove default vertical scrollbar in IE 6/7/8/9.
 * 2. Improve readability and alignment in all browsers.
 */

textarea {
  overflow: auto; /* 1 */
  vertical-align: top; /* 2 */
}

/* ==========================================================================
   Tables
   ========================================================================== */

/**
 * Remove most spacing between table cells.
 */

table {
  border-collapse: collapse;
  border-spacing: 0;
}

/*
Responsive 996px grid system ~ Grid CSS.
Copyright 2013, Josh Cope

12 Columns ~ Margin left: 13px ~ Margin right: 13px

Based on the 960.gs grid system - http://960.gs/
by Nathan Smith

Licensed under GPL and MIT
*/

/* =============================================================================
   Base 966px Grid
   ========================================================================== */

body {min-width: 996px;}

/* Container */
.container {
  margin-left: auto;
  margin-right: auto;
  width: 996px;
}

/* Global */
.grid_1,
.grid_2,
.grid_3,
.grid_4,
.grid_5,
.grid_6,
.grid_7,
.grid_8,
.grid_9,
.grid_10,
.grid_11,
.grid_12 {
  display: inline;
  float: left;
  margin-left: 13px;
  margin-right: 13px;
}

.push_1, .pull_1,
.push_2, .pull_2,
.push_3, .pull_3,
.push_4, .pull_4,
.push_5, .pull_5,
.push_6, .pull_6,
.push_7, .pull_7,
.push_8, .pull_8,
.push_9, .pull_9,
.push_10, .pull_10,
.push_11, .pull_11 {
  position: relative;
}

/* Children (Alpha ~ First, Omega ~ Last) */
.alpha {margin-left: 0;}
.omega {margin-right: 0;}

/* Base Grid */
.container .grid_1 {width: 57px;}
.container .grid_2 {width: 140px;}
.container .grid_3 {width: 223px;}
.container .grid_4 {width: 306px;}
.container .grid_5 {width: 389px;}
.container .grid_6 {width: 472px;}
.container .grid_7 {width: 555px;}
.container .grid_8 {width: 638px;}
.container .grid_9 {width: 721px;}
.container .grid_10 {width: 804px;}
.container .grid_11 {width: 887px;}
.container .grid_12 {width: 1055px;}

/* Prefix Extra Space */
.container .prefix_1 {padding-left: 83px;}
.container .prefix_2 {padding-left: 166px;}
.container .prefix_3 {padding-left: 249px;}
.container .prefix_4 {padding-left: 332px;}
.container .prefix_5 {padding-left: 415px;}
.container .prefix_6 {padding-left: 498px;}
.container .prefix_7 {padding-left: 581px;}
.container .prefix_8 {padding-left: 664px;}
.container .prefix_9 {padding-left: 747px;}
.container .prefix_10 {padding-left: 830px;}
.container .prefix_11 {padding-left: 913px;}

/* Suffix Extra Space */
.container .suffix_1 {padding-right: 83px;}
.container .suffix_2 {padding-right: 166px;}
.container .suffix_3 {padding-right: 249px;}
.container .suffix_4 {padding-right: 332px;}
.container .suffix_5 {padding-right: 415px;}
.container .suffix_6 {padding-right: 498px;}
.container .suffix_7 {padding-right: 581px;}
.container .suffix_8 {padding-right: 664px;}
.container .suffix_9 {padding-right: 747px;}
.container .suffix_10 {padding-right: 830px;}
.container .suffix_11 {padding-right: 913px;}

/* Push Space */
.container .push_1 {left: 83px;}
.container .push_2 {left: 166px;}
.container .push_3 {left: 249px;}
.container .push_4 {left: 332px;}
.container .push_5 {left: 415px;}
.container .push_6 {left: 498px;}
.container .push_7 {left: 581px;}
.container .push_8 {left: 664px;}
.container .push_9 {left: 747px;}
.container .push_10 {left: 830px;}
.container .push_11 {left: 913px;}

/* Pull Space */
.container .pull_1 {left: -83px;}
.container .pull_2 {left: -166px;}
.container .pull_3 {left: -249px;}
.container .pull_4 {left: -332px;}
.container .pull_5 {left: -415px;}
.container .pull_6 {left: -498px;}
.container .pull_7 {left: -581px;}
.container .pull_8 {left: -664px;}
.container .pull_9 {left: -747px;}
.container .pull_10 {left: -830px;}
.container .pull_11 {left: -913px;}

/* Images & Other Objects */
img, object, embed {	max-width: 100%;}
img { height: auto; }


/* =============================================================================
   768px Grid
   ========================================================================== */

@media only screen and (min-width: 768px) and (max-width: 995px) {

  body {min-width: 768px;}

  /* Container | 768px */
  .container {width: 768px;}

  /* Global | 768px */
  .grid_1,
  .grid_2,
  .grid_3,
  .grid_4,
  .grid_5,
  .grid_6,
  .grid_7,
  .grid_8,
  .grid_9,
  .grid_10,
  .grid_11,
  .grid_12 {margin-left: 8px;
    margin-right: 8px;}


  /* Base Grid | 768px */
  .container .grid_1 {width: 48px;}
  .container .grid_2 {width: 112px;}
  .container .grid_3 {width: 176px;}
  .container .grid_4 {width: 240px;}
  .container .grid_5 {width: 304px;}
  .container .grid_6 {width: 368px;}
  .container .grid_7 {width: 432px;}
  .container .grid_8 {width: 496px;}
  .container .grid_9 {width: 560px;}
  .container .grid_10 {width: 624px;}
  .container .grid_11 {width: 688px;}
  .container .grid_12 {width: 752px;}

  /* Prefix Extra Space | 768px */
  .container .prefix_1 {padding-left: 64px;}
  .container .prefix_2 {padding-left: 128px;}
  .container .prefix_3 {padding-left: 192px;}
  .container .prefix_4 {padding-left: 256px;}
  .container .prefix_5 {padding-left: 320px;}
  .container .prefix_6 {padding-left: 384px;}
  .container .prefix_7 {padding-left: 448px;}
  .container .prefix_8 {padding-left: 512px;}
  .container .prefix_9 {padding-left: 576px;}
  .container .prefix_10 {padding-left: 640px;}
  .container .prefix_11 {padding-left: 704px;}

  /* Suffix Extra Space | 768px */
  .container .suffix_1 {padding-right: 64px;}
  .container .suffix_2 {padding-right: 128px;}
  .container .suffix_3 {padding-right: 192px;}
  .container .suffix_4 {padding-right: 256px;}
  .container .suffix_5 {padding-right: 320px;}
  .container .suffix_6 {padding-right: 384px;}
  .container .suffix_7 {padding-right: 448px;}
  .container .suffix_8 {padding-right: 512px;}
  .container .suffix_9 {padding-right: 576px;}
  .container .suffix_10 {padding-right: 640px;}
  .container .suffix_11 {padding-right: 704px;}

  /* Push Space | 768px */
  .container .push_1 {left: 64px;}
  .container .push_2 {left: 128px;}
  .container .push_3 {left: 192px;}
  .container .push_4 {left: 256px;}
  .container .push_5 {left: 320px;}
  .container .push_6 {left: 384px;}
  .container .push_7 {left: 448px;}
  .container .push_8 {left: 512px;}
  .container .push_9 {left: 576px;}
  .container .push_10 {left: 640px;}
  .container .push_11 {left: 704px;}

  /* Pull Space | 768px */
  .container .pull_1 {left: -64px;}
  .container .pull_2 {left: -128px;}
  .container .pull_3 {left: -192px;}
  .container .pull_4 {left: -256px;}
  .container .pull_5 {left: -320px;}
  .container .pull_6 {left: -384px;}
  .container .pull_7 {left: -448px;}
  .container .pull_8 {left: -512px;}
  .container .pull_9 {left: -576px;}
  .container .pull_10 {left: -640px;}
  .container .pull_11 {left: -704px;}

  /* Children (Alpha ~ First, Omega ~ Last) | 768 */
  .alpha {margin-left: 0;}
  .omega {margin-right: 0;}
}


/* =============================================================================
   Less than 768px
   ========================================================================== */

@media only screen and (max-width: 767px) {

  body{min-width:0;}

  /* Container */
  .container { margin:0 auto; width:456px; overflow:hidden; }

  /* Global */
  .container .grid_1,
  .container .grid_2,
  .container .grid_3,
  .container .grid_4,
  .container .grid_5,
  .container .grid_6,
  .container .grid_7,
  .container .grid_8,
  .container .grid_9,
  .container .grid_10,
  .container .grid_11,
  .container .grid_12	{
    width:416px;
    clear: both;
    float: none;
    margin-left: 0;
    margin-right: 0;
    display:inline-block;
    padding-left: 20px;
    padding-right: 20px;

    /* IE 6&7 */
    zoom:1;
    *display:inline;
  }

  /* Nested children need no padding */
  .grid_1  .grid_1,
  .grid_2  .grid_1, .grid_2  .grid_2,
  .grid_3  .grid_1, .grid_3  .grid_2, .grid_3  .grid_3,
  .grid_4  .grid_1, .grid_4  .grid_2, .grid_4  .grid_3, .grid_4  .grid_4,
  .grid_5  .grid_1, .grid_5  .grid_2, .grid_5  .grid_3, .grid_5  .grid_4, .grid_5  .grid_5,
  .grid_6  .grid_1, .grid_6  .grid_2, .grid_6  .grid_3, .grid_6  .grid_4, .grid_6  .grid_5, .grid_6  .grid_6,
  .grid_7  .grid_1, .grid_7  .grid_2, .grid_7  .grid_3, .grid_7  .grid_4, .grid_7  .grid_5, .grid_7  .grid_6, .grid_7  .grid_7,
  .grid_8  .grid_1, .grid_8  .grid_2, .grid_8  .grid_3, .grid_8  .grid_4, .grid_8  .grid_5, .grid_8  .grid_6, .grid_8  .grid_7, .grid_8  .grid_8,
  .grid_9  .grid_1, .grid_9  .grid_2, .grid_9  .grid_3, .grid_9  .grid_4, .grid_9  .grid_5, .grid_9  .grid_6, .grid_9  .grid_7, .grid_9  .grid_8, .grid_9  .grid_9,
  .grid_10  .grid_1, .grid_10  .grid_2, .grid_10  .grid_3, .grid_10  .grid_4, .grid_10  .grid_5, .grid_10  .grid_6, .grid_10  .grid_7, .grid_10  .grid_8, .grid_10  .grid_9, .grid_10  .grid_10,
  .grid_11  .grid_1, .grid_11  .grid_2, .grid_11  .grid_3, .grid_11  .grid_4, .grid_11  .grid_5, .grid_11  .grid_6, .grid_11  .grid_7, .grid_11  .grid_8, .grid_11  .grid_9, .grid_11  .grid_10, .grid_11  .grid_11,
  .grid_12  .grid_1, .grid_12  .grid_2, .grid_12  .grid_3, .grid_12  .grid_4, .grid_12  .grid_5, .grid_12  .grid_6, .grid_12  .grid_7, .grid_12  .grid_8, .grid_12  .grid_9, .grid_12  .grid_10, .grid_12  .grid_11, .grid_12  .grid_12	{
    padding-left: 0px;
    padding-right: 0px;
  }

  .container .push_1, .container .push_2,
  .container .push_3, .container .push_4,
  .container .push_5, .container .push_6,
  .container .push_7, .container .push_8,
  .container .push_9, .container .push_10,
  .container .push_11	{
    left: 0;
  }
  .container .pull_1, .container .pull_2,
  .container .pull_3, .container .pull_4,
  .container .pull_5, .container .pull_6,
  .container .pull_7, .container .pull_8,
  .container .pull_9, .container .pull_10,
  .container .pull_11	{
    left: 0;
  }
}


/* =============================================================================
   Less than 480px
   ========================================================================== */
@media only screen and (max-width: 479px) {

  /* Container */

  .container { width:300px;}

  /* Global */

  .container .grid_1,
  .container .grid_2,
  .container .grid_3,
  .container .grid_4,
  .container .grid_5,
  .container .grid_6,
  .container .grid_7,
  .container .grid_8,
  .container .grid_9,
  .container .grid_10,
  .container .grid_11,
  .container .grid_12	{
    width:260px;
  }
}
/*
Responsive 996px grid system ~ Style CSS.
Copyright 2013, Josh Cope
*/

/* =============================================================================
   Site Styles
   ========================================================================== */

/* =============================================================================
   Page Styles
   ========================================================================== */

/* =============================================================================
   Media Queries
   ========================================================================== */

/* Tablet Portrait size to Base 996px */
@media only screen and (min-width: 768px) and (max-width: 995px) {
  .container .grid_5 {
    width: 385px;
  }

  .container .grid_8 {
    width: 90% !important;
  }
  .topSection .bottomBox {
    height: 205px !important;
  }

  .midSection1 .whatService {
    left:70px !important;
  }

  .midSection1 .services{
    left: 65px !important;
  }

  .nav .about {
    margin-left: -32px !important;
  }

  .topSection .topBox .topBoxText {
    left: 32px !important;
  }

  .midSection2 .seeAllReviews{
    left: 285px !important;
  }

  .midSection2 .customerServicerReviews{
    left: 105px !important;
  }

  .midSection2 .reviewLinkRight{
    top: 33px !important;
  }

  .midSection3 .articleHeader{
    left:28px !important;
  }

  .midSection3 .articleContent{
    left :50px !important;
  }

  .midsection4 .appImage{
    right:3px !important;
  }

  .midsection4 .appHeader {
    white-space: nowrap;
    left: 2px !important;
    top:-1px !important;
  }

  .midsection4 .appStoreImages{
    top: -15px !important;
  }

  .midsection4 .appContent{
    top: 52px !important;
    left: 91px !important;
  }

  .midSection5 .featuredColumns{
    left: 20px !important;
  }

  .midSection5 .featuredColumns .featuredLeft{
    width: 218px !important;
  }

  .midSection5 .featuredColumns .featuredMid{
    padding-left: 3px !important;
    width: 211px !important;
  }

  .container .grid_4 {
    width: 224px !important;
  }

  .midSection5 .apply{
    left: 325px !important;
  }

  .footer .footerColumns{
    left: 21px !important;
    top: 5px !important;
  }

  .footer .footerLinks div{
    padding-top: 5px !important;
  }

  .footer .footerLinks{
    top: 23px !important;
  }


}

/* All Mobile Sizes */
@media only screen and (max-width: 767px) {
  .topSection .topBox {
    height: 170px;
  }

  .smHeight {
    line-height: 2px;
    letter-spacing: -1px;
  }

  .nav {
    height:65px !important;
  }

  .nav .about{
    position: relative;
    top: -5px;
    left: -18px;
  }

  .nav .services{
    position: relative;
    top: -5px;
    left: -16px;
  }

  .nav .getmepro{
    position: relative;
    top: 35px !important;
    left:-10px !important;
    z-index: 1 !important;
  }

  .nav .signup{
    position: relative;
    left: -0px;
    top: -5px;
  }

  .nav .login{
    position: relative;
    top: -5px;
    left: 9px;
  }

  .topSection .topBox .topBoxText {
    left: 50px !important;
    top: -37px !important;
  }

  .topSection .headerPadding {
    height: 15px !important;
  }

  .topSection .bottomBox {
    height: 345px !important;
    top:-73 !important;
  }

  .topSection .circles{
    top: -37px !important;
    left:20px;
  }

  .midSection1 {
    height: 1373px !important;
  }

  .midSection1 .whatService{
    left:52px !important;
  }

  .midSection1 .services{
    left: 124px !important;
    top: 75px !important;
    margin-top: 10px !important;
    margin-right: 67px;
  }

  .midSection2{
    height: 1100px !important;
  }

  .midSection2 .customerServicerReviews{
    top: 50px !important;
    left: -5px !important;
  }

  .midSection2 .customerServicerReviews div:nth-child(2){
    margin-top:30px !important;
  }

  .midSection2 .names{
    top:-20px !important;
  }

  .midSection2 .cityCompany{
    top:-21px !important;
  }

  .midSection2 .reviews{
    top:-5px !important;
  }

  .midSection2 .reviewLinkLeft{
    top:10px !important;
  }

  .midSection2 .reviewLinkRight{
    top: 4px !important;
  }

  .midSection3{
    height: 365px !important;
  }

  .midSection3 .articleHeader{
    font-size: 45px !important;
    left: 6px !important;
    top: 40px !important;
  }

  .midSection3 .articleContent{
    left: 4px !important;
    top: 55px !important;
  }

  .midSection3 .dmnImage{
    left:9px !important;
  }

  .midsection4{
    height:500px !important;
  }

  .midsection4 .appImage{
    right: -17px !important;
    top: 150px !important;
  }

  .midsection4 .appHeader{
    font-size: 52px !important;
    top: -331px !important;
    left: -8px !important;
    width: 441px !important;
  }

  .midsection4 .appContent{
    width: 300px !important;
    top: -313px !important;
    left: 0px !important;
  }

  .midsection4 .appStoreImages{
    top: -270px !important;
    left:-1px !important;
  }

  .midsection4 .appStoreImages div{
    width:100px !important;
  }

  .midSection5{
    height: 1430px !important;
  }

  .midSection5 .featuredHeader{
    font-size:50px !important;
  }

  .midSection5 .callout{
    top: 873px !important;
  }

  .midSection5 .featuredColumns{
    left: 30px !important;
  }

  .midSection5 .featuredColumns .featuredLeft{
    border-right-style: none !important;
  }

  .midSection5 .featuredColumns .featuredMid{
    border-right-style: none !important;
    padding-left:0px !important;
  }

  .midSection5 .featuredColumns .featuredRight{
    padding-left:0px !important;
  }

  .footer{
    height: 600px !important;
  }

  .footer .footerColumns{
    left: -3px !important;
    top: 30px !important;
  }

  .footer .footerLeft .footerLM{
    top: -20px !important;
  }

  .footer .footerLeft{
    position: relative !important;
    left: 110px !important;
  }

  .footer .footerMid{
    position: relative !important;
    top: -39px !important;
    left: 110px !important;
  }

  .footer .footerLinks .terms{
    width: 155px !important;
  }

  .footer .footerLinks .aboutus{
    width:115px !important;
  }

  .footer .footerLinks .contact{
    width:156px !important;
  }

  .footer .footerLinks .privacy{
    width:140px !important;
  }

  .footerRight{
    position: relative;
    left:78px;
  }

}

/* Mobile Portrait Size to Mobile Landscape Size */
@media only screen and (max-width: 479px) {
  .topSection .topBox {
    height: 170px !important;
    font-size: 30px !important;
  }

  .smHeight {
    line-height: 2px;
    letter-spacing: -1px;
  }

  .topSection .topBox .topBoxText {
    left: 27px !important;
    top: -12px !important;
  }

  .topSection .headerPadding {
    height: 15px !important;
  }

  .topSection .bottomBox {
    height: 345px !important;
  }

  .topSection .bottomText {
    top: -5px !important;
  }

  .topSection .circles .circleSpacing{
    width: 60px !important;
  }


  .topSection .circles{
    top: -37px !important;
  }

  .topSection .bottomBox{
    top: -71px !important;
  }

  .nav {
    height:70px !important;
  }

  .nav .about{
    position: relative;
    top: -15px;
    left: -13px;
  }

  .nav .services{
    position: relative;
    top: -15px;
    left: -3px;
  }

  .nav .getmepro{
    position: relative;
    top: 44px !important;
    left:-72px !important;
    z-index: 1 !important;
  }

  .nav .signup{
    position: relative;
    left: -141px;
    top: -15px;
  }

  .nav .login{
    position: relative;
    top: -15px;
    left: -128px;
  }

  .midSection1 .whatService{
    left:6px !important;
    top:22px !important;
  }

  .midSection1 .services{
    left: 59px !important;
    top: 45px !important;
    margin-top: 10px !important;
  }

  .midSection1{
    height:1379 !important;
  }

  .midSection2{
    height: 1248px !important;
  }

  .midSection2 .whyUs{
    white-space: nowrap;
    top: 13px;
    left: -21px;
    top:15px !important;
  }

  .midSection2 .whyUsText{
    top:16px !important;
  }

  .midSection2 .seeAllReviews{
    top: 78px !important;
    left: 58px !important;
  }

  .midSection2 .customerServicerReviews{
    left: 1px !important;
  }

  .midSection2 .customerServicerReviews div:nth-child(2){
    margin-top:10px !important;
  }

  .midSection2 .names{
    top:-16px !important;
  }

  .midSection2 .cityCompany{
    top:-24px !important;
  }

  .midSection2 .reviews{
    top:-13px !important;
  }

  .midSection2 .reviewLinkLeft{
    top:-3px !important;
  }

  .midSection2 .reviewLinkRight{
    top:-5px !important;
  }

  .midSection3{
    height: 460px !important;
  }

  .midSection3 .articleHeader{
    font-size: 45px !important;
    left: 6px !important;
    top: 40px !important;
  }

  .midSection3 .articleContent{
    left: 4px !important;
    top: 55px !important;
  }

  .midSection3 .dmnImage{
    left:9px !important;
  }

  .midsection4{
    height:500px !important;
  }

  .midsection4 .appImage{
    right: -17px !important;
    top: 223px !important;
  }

  .midsection4 .appHeader{
    font-size: 32px !important;
    top: -252px !important;
    left: -8px !important;
    width: 280px !important;
  }

  .midsection4 .appContent{
    width: 291px !important;
    top: -240px !important;
    left: 0px !important;
  }

  .midsection4 .appStoreImages{
    top: -230px !important;
    left:-1px !important;
  }

  .midsection4 .appStoreImages div{
    width:100px !important;
  }

  .midSection5{
    height: 1520px !important;
  }

  .midSection5 .featuredHeader{
    font-size:50px !important;
  }

  .midSection5 .callout{
    top: 873px !important;
  }

  .midSection5 .featuredColumns{
    left: 30px !important;
  }

  .footer{
    height: 700px !important;
  }

  .footer .footerColumns{
    left: -3px !important;
    top: 9px !important;
  }

  .footer .footerLeft .footerLM{
    top: -20px !important;
  }

  .footer .footerLeft{
    position: relative !important;
    left: 50px !important;
  }

  .footer .footerMid{
    position: relative !important;
    top: -39px !important;
    left: 50px !important;
  }

  .footer .footerLinks .aboutus{
    width:130px !important;
  }

  .footer .footerLinks .contact{
    width:235px !important;
  }

  .footerRight{
    position: relative;
    left:10px;
  }

}

/* Mobile Landscape Size to Tablet Portrait */
@media only screen and (min-width: 480px) and (max-width: 767px) {}

/* ==========================================================================
   EXAMPLE Media Queries for Responsive Design.
   Theses examples override the primary ('mobile first') styles.
   Modify as content requires.
   ========================================================================== */

@media only screen and (min-width: 35em) {
  /* Style adjustments for viewports that meet the condition */
}

@media print,
(-o-min-device-pixel-ratio: 5/4),
(-webkit-min-device-pixel-ratio: 1.25),
(min-resolution: 120dpi) {
  /* Style adjustments for high resolution devices */
}

/* ==========================================================================
   Print styles.
   Inlined to avoid required HTTP connection: h5bp.com/r
   ========================================================================== */

@media print {
  * {
    background: transparent !important;
    color: #000 !important; /* Black prints faster: h5bp.com/s */
    box-shadow: none !important;
    text-shadow: none !important;
  }

  a,
  a:visited {
    text-decoration: underline;
  }

  a[href]:after {
    content: " (" attr(href) ")";
  }

  abbr[title]:after {
    content: " (" attr(title) ")";
  }

  /*
   * Don't show links for images, or javascript/internal links
   */

  .ir a:after,
  a[href^="javascript:"]:after,
  a[href^="#"]:after {
    content: "";
  }

  pre,
  blockquote {
    border: 1px solid #999;
    page-break-inside: avoid;
  }

  thead {
    display: table-header-group; /* h5bp.com/t */
  }

  tr,
  img {
    page-break-inside: avoid;
  }

  img {
    max-width: 100% !important;
  }

  @page {
    margin: 0.5cm;
  }

  p,
  h2,
  h3 {
    orphans: 3;
    widows: 3;
  }

  h2,
  h3 {
    page-break-after: avoid;
  }
}


/* =============================================================================
   Font-Face
   ========================================================================== */
/* This is the proper syntax for an @font-face file

/* @font-face {
font-family: 'FontName';
src: url('../fonts/FontName.eot');
src: url('../fonts/FontName.eot?iefix') format('embedded-opentype'),
url('../fonts/FontName.woff') format('woff'),
url('../fonts/FontName.ttf') format('truetype'),
url('../fonts/FontName.svg#FontName') format('svg');
font-weight: normal;
font-style: normal; }
*/

/* latin-ext */
@font-face {
  font-family: 'Lato';
  font-style: normal;
  font-weight: 100;
  src: local('Lato Hairline'), local('Lato-Hairline'), url(http://fonts.gstatic.com/s/lato/v11/eFRpvGLEW31oiexbYNx7Y_esZW2xOQ-xsNqO47m55DA.woff2) format('woff2');
  unicode-range: U+0100-024F, U+1E00-1EFF, U+20A0-20AB, U+20AD-20CF, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
  font-family: 'Lato';
  font-style: normal;
  font-weight: 100;
  src: local('Lato Hairline'), local('Lato-Hairline'), url(http://fonts.gstatic.com/s/lato/v11/ReJM7XTHl2016WmPlSmWK_esZW2xOQ-xsNqO47m55DA.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215, U+E0FF, U+EFFD, U+F000;
}
/* latin-ext */
@font-face {
  font-family: 'Lato';
  font-style: normal;
  font-weight: 300;
  src: local('Lato Light'), local('Lato-Light'), url(http://fonts.gstatic.com/s/lato/v11/dPJ5r9gl3kK6ijoeP1IRsvY6323mHUZFJMgTvxaG2iE.woff2) format('woff2');
  unicode-range: U+0100-024F, U+1E00-1EFF, U+20A0-20AB, U+20AD-20CF, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
  font-family: 'Lato';
  font-style: normal;
  font-weight: 300;
  src: local('Lato Light'), local('Lato-Light'), url(http://fonts.gstatic.com/s/lato/v11/fJ22-hkNvqdD_3TXCrYlmPY6323mHUZFJMgTvxaG2iE.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215, U+E0FF, U+EFFD, U+F000;
}
/* latin-ext */
@font-face {
  font-family: 'Lato';
  font-style: normal;
  font-weight: 400;
  src: local('Lato Regular'), local('Lato-Regular'), url(http://fonts.gstatic.com/s/lato/v11/UyBMtLsHKBKXelqf4x7VRQ.woff2) format('woff2');
  unicode-range: U+0100-024F, U+1E00-1EFF, U+20A0-20AB, U+20AD-20CF, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
  font-family: 'Lato';
  font-style: normal;
  font-weight: 400;
  src: local('Lato Regular'), local('Lato-Regular'), url(http://fonts.gstatic.com/s/lato/v11/7aC-Y4V2UPHQp-tqeekgkA.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215, U+E0FF, U+EFFD, U+F000;
}
/* latin-ext */
@font-face {
  font-family: 'Lato';
  font-style: normal;
  font-weight: 700;
  src: local('Lato Bold'), local('Lato-Bold'), url(http://fonts.gstatic.com/s/lato/v11/ObQr5XYcoH0WBoUxiaYK3_Y6323mHUZFJMgTvxaG2iE.woff2) format('woff2');
  unicode-range: U+0100-024F, U+1E00-1EFF, U+20A0-20AB, U+20AD-20CF, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
  font-family: 'Lato';
  font-style: normal;
  font-weight: 700;
  src: local('Lato Bold'), local('Lato-Bold'), url(http://fonts.gstatic.com/s/lato/v11/HdGTqbEHKKIUjL97iqGpTvY6323mHUZFJMgTvxaG2iE.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215, U+E0FF, U+EFFD, U+F000;
}
/* latin-ext */
@font-face {
  font-family: 'Lato';
  font-style: normal;
  font-weight: 900;
  src: local('Lato Black'), local('Lato-Black'), url(http://fonts.gstatic.com/s/lato/v11/R4a6fty3waPci7C44H8AjvY6323mHUZFJMgTvxaG2iE.woff2) format('woff2');
  unicode-range: U+0100-024F, U+1E00-1EFF, U+20A0-20AB, U+20AD-20CF, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
  font-family: 'Lato';
  font-style: normal;
  font-weight: 900;
  src: local('Lato Black'), local('Lato-Black'), url(http://fonts.gstatic.com/s/lato/v11/iZxHtm8SGdMcBmb4SbFWK_Y6323mHUZFJMgTvxaG2iE.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215, U+E0FF, U+EFFD, U+F000;
}
/* latin-ext */
@font-face {
  font-family: 'Lato';
  font-style: italic;
  font-weight: 100;
  src: local('Lato Hairline Italic'), local('Lato-HairlineItalic'), url(http://fonts.gstatic.com/s/lato/v11/muRcAtdNYlnTj3NeuakxChTbgVql8nDJpwnrE27mub0.woff2) format('woff2');
  unicode-range: U+0100-024F, U+1E00-1EFF, U+20A0-20AB, U+20AD-20CF, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
  font-family: 'Lato';
  font-style: italic;
  font-weight: 100;
  src: local('Lato Hairline Italic'), local('Lato-HairlineItalic'), url(http://fonts.gstatic.com/s/lato/v11/9TBVFLzQ3GUZLG8FZ4yrERTbgVql8nDJpwnrE27mub0.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215, U+E0FF, U+EFFD, U+F000;
}
/* latin-ext */
@font-face {
  font-family: 'Lato';
  font-style: italic;
  font-weight: 300;
  src: local('Lato Light Italic'), local('Lato-LightItalic'), url(http://fonts.gstatic.com/s/lato/v11/XNVd6tsqi9wmKNvnh5HNEBJtnKITppOI_IvcXXDNrsc.woff2) format('woff2');
  unicode-range: U+0100-024F, U+1E00-1EFF, U+20A0-20AB, U+20AD-20CF, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
  font-family: 'Lato';
  font-style: italic;
  font-weight: 300;
  src: local('Lato Light Italic'), local('Lato-LightItalic'), url(http://fonts.gstatic.com/s/lato/v11/2HG_tEPiQ4Z6795cGfdivBJtnKITppOI_IvcXXDNrsc.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215, U+E0FF, U+EFFD, U+F000;
}
/* latin-ext */
@font-face {
  font-family: 'Lato';
  font-style: italic;
  font-weight: 400;
  src: local('Lato Italic'), local('Lato-Italic'), url(http://fonts.gstatic.com/s/lato/v11/YMOYVM-eg6Qs9YzV9OSqZfesZW2xOQ-xsNqO47m55DA.woff2) format('woff2');
  unicode-range: U+0100-024F, U+1E00-1EFF, U+20A0-20AB, U+20AD-20CF, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
  font-family: 'Lato';
  font-style: italic;
  font-weight: 400;
  src: local('Lato Italic'), local('Lato-Italic'), url(http://fonts.gstatic.com/s/lato/v11/0Bl1oqNTjMmBgjhjvqXaufesZW2xOQ-xsNqO47m55DA.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215, U+E0FF, U+EFFD, U+F000;
}
/* latin-ext */
@font-face {
  font-family: 'Lato';
  font-style: italic;
  font-weight: 700;
  src: local('Lato Bold Italic'), local('Lato-BoldItalic'), url(http://fonts.gstatic.com/s/lato/v11/AcvTq8Q0lyKKNxRlL28RnxJtnKITppOI_IvcXXDNrsc.woff2) format('woff2');
  unicode-range: U+0100-024F, U+1E00-1EFF, U+20A0-20AB, U+20AD-20CF, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
  font-family: 'Lato';
  font-style: italic;
  font-weight: 700;
  src: local('Lato Bold Italic'), local('Lato-BoldItalic'), url(http://fonts.gstatic.com/s/lato/v11/HkF_qI1x_noxlxhrhMQYEBJtnKITppOI_IvcXXDNrsc.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215, U+E0FF, U+EFFD, U+F000;
}
/* latin-ext */
@font-face {
  font-family: 'Lato';
  font-style: italic;
  font-weight: 900;
  src: local('Lato Black Italic'), local('Lato-BlackItalic'), url(http://fonts.gstatic.com/s/lato/v11/81X-1TO5y4aMK2PPy9kFwxJtnKITppOI_IvcXXDNrsc.woff2) format('woff2');
  unicode-range: U+0100-024F, U+1E00-1EFF, U+20A0-20AB, U+20AD-20CF, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
  font-family: 'Lato';
  font-style: italic;
  font-weight: 900;
  src: local('Lato Black Italic'), local('Lato-BlackItalic'), url(http://fonts.gstatic.com/s/lato/v11/VNUH7ZAcagYBWsAiBBCEYxJtnKITppOI_IvcXXDNrsc.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215, U+E0FF, U+EFFD, U+F000;
}

/*icon Fonts*/
@font-face {
    font-family: 'icomoon';
    src:url('../../css/fonts/icomoon.eot');
    src:url('../../css/fonts/icomoon.eot') format('embedded-opentype'),
        url('../../css/fonts/icomoon.woff') format('woff'),
        url('../../css/fonts/icomoon.ttf') format('truetype'),
        url('../../css/fonts/icomoon.svg#icomoon') format('svg');
    font-weight: normal;
    font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
  font-family: 'icomoon';
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-tdmn_logo:before {
  content: "\e604";
}
.icon-GetMePro_Tablet:before {
  content: "\e600";
}
.icon-GetMePro_Smartphone:before {
  content: "\e601";
}
.icon-GetMePro_HomeTheater:before {
  content: "\e602";
}
.icon-GetMePro_HomeAutomation:before {
  content: "\e603";
}
/*.container .grid_12 {
	width: 1055px;
}*/
.container .grid_1 {
  width: 42px !important;
}
body {
  font-family: 'Lato', sans-serif;
}
.smHeight {
  line-height: 42px;
  letter-spacing: -1px;
}
.nav {
  background-color: #003354;
  color: #ffffff;
  height: 46px;
  display: table;
}
.nav .navText {
  text-align: center;
  font-weight: bold;
  font-size: 16px;
  height: 35px;
  display: table-cell;
  margin-top: 11px;
  cursor: pointer;
  white-space: nowrap;
}
.nav .navText a {
  color: white;
  text-decoration: none;
}
.nav .about {
  margin-left: 43px;
}
.nav .services {
  margin-left: -29px;
}
.nav .getmepro {
  margin-left: 30px;
  background-color: #f26101;
  font-size: 32px;
  margin-top: 0px;
  height: 52px;
  width: 190px;
  padding-top: 4px;
}
.nav .signup {
  margin-left: 29px;
}
.nav .login {
  margin-left: 12px;
}
.topSection {
    height: 600px;
    background-image: url('../../images/app/GetMePro_servicer_main_2x.jpg');
}
.topSection .headerPadding {
  height: 161px;
}
.topSection .topBox {
  background-color: #ffffff;
  border-radius: 10px;
  opacity: 0.85;
  height: 150px;
  color: #f26101;
  font-size: 48px;
}
.topSection .topBox .topBoxText {
  left: 82px;
  position: relative;
  top: -18px;
}
.topSection .bottomBox {
  position: relative;
  top: -29px;
  height: 179px;
}
.topSection .bottomText {
  position: relative;
  top: 15px;
  left: 3px;
  font-size: 14px;
  color: #003354;
}
.topSection .bottomSubText {
  position: relative;
  top: 3px;
}
.topSection .dotCol {
  width: 124px;
}
.topSection .circles {
  position: relative;
  top: -15px;
  z-index: 1;
}
.topSection .circles .circleSpacing {
  width: 120px;
}
.topSection .circles div {
  display: inline-block;
}
.midSection1 {
  height: 500px;
  background-color: #91bed4;
}
.midSection1 .whatService {
  font-size: 36px;
  color: #ffffff;
  position: relative;
  left: 210px;
  top: 57px;
  letter-spacing: -1px;
}
.midSection1 .services {
  height: 280px;
  width: 140px;
  font-size: 16px;
  color: #003354;
  background-color: #e9f2f8;
  border-radius: 12px;
  position: relative;
  left: 194px;
  top: 103px;
  text-align: center;
}
.midSection1 .services a {
  color: #003354;
  text-decoration: none;
}
.midSection1 .services .iconHomeTheater {
  position: relative;
  top: 53px;
  font-size: 53px;
}
.midSection1 .services .iconSmartPhone {
  position: relative;
  top: 48px;
  font-size: 64px;
}
.midSection1 .services .iconTabletRepair {
  position: relative;
  top: 43px;
  font-size: 72px;
}
.midSection1 .services .iconHomeAutomation {
  position: relative;
  top: 53px;
  font-size: 59px;
}
.midSection1 .services .serviceText {
  text-align: center;
  position: relative;
}
.midSection1 .services .theater {
  top: 81px;
}
.midSection1 .services .smartphone {
  top: 66px;
}
.midSection1 .services .tablet {
  top: 55px;
}
.midSection1 .services .automation {
  top: 72px;
}
.midSection1 .services .selectButton {
  position: relative;
  border: 2px;
  border-style: solid;
  border-radius: 4px;
  width: 76px;
  padding: 6px;
  cursor: pointer;
}
.midSection1 .services .theaterSelect {
  top: 99px;
  left: 24px;
}
.midSection1 .services .smartphoneSelect {
  top: 88px;
  left: 24px;
}
.midSection1 .services .tabletSelect {
  top: 79px;
  left: 24px;
}
.midSection1 .services .automationSelect {
  top: 90px;
  left: 24px;
}
.midSection2 {
  height: 800px;
  background-color: #ffffff;
  text-align: center;
  color: #f26101;
}
.midSection2 .whyUs {
  font-size: 72px;
  font-family: 'Lato Black', sans-serif;
  font-weight: bolder;
  position: relative;
  top: 50px;
}
.midSection2 .whyUsText {
  font-size: 24px;
  position: relative;
  top: 53px;
  word-spacing: -3p;
}
.midSection2 .reviewButton {
  border: 2px;
  border-style: solid;
  border-radius: 4px;
  width: 133px;
  padding: 6px;
  cursor: pointer;
}
.midSection2 .reviewButton a {
  color: #f26101;
  text-decoration: none;
}
.midSection2 .seeAllReviews {
  position: relative;
  top: 78px;
  left: 453px;
}
.midSection2 .names {
  font-size: 30px;
  position: relative;
  top: 8px;
}
.midSection2 .cityCompany {
  font-size: 14px;
  position: relative;
  top: 3px;
}
.midSection2 .reviews {
  font-size: 20px;
  position: relative;
  top: 25px;
}
.midSection2 .reviewsLink {
  font-size: 14px;
  position: relative;
  cursor: pointer;
}
.midSection2 .reviewsLink a {
  color: #f26101;
}
.midSection2 .reviewLinkLeft {
  top: 60px;
  word-spacing: -1px;
}
.midSection2 .reviewLinkRight {
  top: 87px;
  word-spacing: -1px;
}
.midSection2 .customerServicerReviews {
  position: relative;
  top: 111px;
  left: 195px;
}
.midSection3 {
  height: 240px;
  background-color: #003354;
  color: #ffffff;
  text-align: left;
}
.midSection3 .articleHeader {
  position: relative;
  font-size: 48px;
  font-weight: bolder;
  left: 101px;
  top: 30px;
  letter-spacing: -1px;
}
.midSection3 .articleContent {
  position: relative;
  font-size: 14px;
  left: 125px;
  top: 32px;
}
.midSection3 .dmnImage {
  position: relative;
  font-size: 24px;
  left: 113px;
  bottom: 4px;
  color: #ffffff;
  top: 34px;
}
.midsection4 {
  height: 400px;
  background-color: #91bed4;
  text-align: center;
  color: #ffffff;
}
.midsection4 .appImage {
  position: relative;
  right: 132px;
  top: 50px;
}
.midsection4 .appHeader {
  font-size: 72px;
  font-weight: bolder;
  position: relative;
  top: 61px;
  left: 71px;
}
.midsection4 .appContent {
  width: 375px;
  position: relative;
  top: 66px;
  left: 127px;
  font-size: 14px;
  text-align: left;
}
.midsection4 .appStoreImages {
  position: relative;
  top: 117px;
  left: 110px;
  text-align: left;
  padding-right: 30px;
  cursor: pointer;
}
.midsection4 .appStoreImages div {
  display: inline-block;
}
.midsection4 .appStoreImages a {
  text-decoration: none;
}
.midSection5 {
  height: 750px;
  background-color: #ffffff;
  color: #f26101;
}
.midSection5 .featuredHeader {
  font-size: 72px;
  font-weight: bolder;
  letter-spacing: -2px;
  text-align: center;
  position: relative;
  top: 54px;
}
.midSection5 .featuredColumns {
  height: 400px;
  position: relative;
  left: 68px;
  top: 84px;
  line-height: 1;
}
.midSection5 .featuredColumns a {
  color: #f26101;
}
.midSection5 .featuredColumns .featuredName {
  font-size: 30px;
}
.midSection5 .featuredColumns .featuredLeft {
  border-right-style: solid;
  height: 400px;
  width: 278px;
}
.midSection5 .featuredColumns .featuredMid {
  border-right-style: solid;
  height: 400px;
  padding-left: 25px;
  width: 279px;
}
.midSection5 .featuredColumns .featuredRight {
  padding-left: 26px;
}
.midSection5 .featuredColumns .numReviews {
  font-size: 14px;
  position: relative;
  top: -15px;
  cursor: pointer;
}
.midSection5 .featuredColumns .businessDescription {
  font-size: 14px;
  position: relative;
  top: -7px;
  width: 180px;
}
.midSection5 .featuredColumns .businessDescription u {
  cursor: pointer;
}
.midSection5 .callout {
  font-size: 24px;
  position: relative;
  top: 115px;
  text-align: center;
}
.midSection5 .moreButton,
.midSection5 .applyButton {
  border: 2px;
  border-style: solid;
  border-radius: 4px;
  padding: 6px;
  cursor: pointer;
  text-decoration: none;
}
.midSection5 .applyButton {
  width: 116px;
}
.midSection5 .moreButton {
  padding: 11px;
}
.midSection5 .priceInfo {
  position: relative;
  left: -11px;
  top: -3px;
  width: 208px;
}
.midSection5 .priceInfo a {
  text-decoration: none;
}
.midSection5 .priceInfo .price {
  font-size: 48px;
  padding-right: 5px;
}
.midSection5 .priceInfo .info {
  font-size: 14px;
  position: relative;
  top: -14px;
  left: 14px;
}
.midSection5 .priceInfo div {
  display: inline-block;
}
.midSection5 .apply {
  text-align: center;
  position: relative;
  top: 137px;
  left: 461px;
}
.midSection5 .apply a {
  color: #f26101;
  text-decoration: none;
}
.footer {
  height: 300px;
  background-color: #003354;
  color: #54849c;
}
.footer a {
  color: #54849c;
  text-decoration: none;
}
.footer .footerColumns {
  position: relative;
  left: 109px;
  top: 54px;
}
.footer .footerColHeader {
  font-size: 36px;
  font-weight: bold;
}
.footer .footerLeft {
  width: 266px;
}
.footer .footerLeft .footerLM {
  position: relative;
  top: -7px;
  left: 10px;
  letter-spacing: -1px;
}
.footer .footerLeft .footerLM .phoneNumber {
  font-size: 18px;
  font-weight: bold;
}
.footer .footerLeft .footerLM .orText {
  font-size: 18px;
  font-weight: bolder;
  text-align: center;
  width: 151px;
  position: relative;
  top: -20px;
}
.footer .footerLeft .footerLM .clickChat {
  position: relative;
  top: -32px;
  left: 15px;
  width: 101px;
}
.footer .footerLeft .footerLM .clickChat .chatButton {
  border: 2px;
  border-style: solid;
  border-radius: 4px;
  padding: 6px;
  font-size: 14px;
  width: 107px;
  height: 23px;
  text-align: center;
  letter-spacing: 0px;
  cursor: pointer;
}
.footer .footerMid {
  width: 248px;
}
.footer .footerMid .socialMediaLinks {
  position: relative;
  top: 10px;
}
.footer .footerMid .socialMediaLinks .socialMedia {
  color: #54849c;
  border-style: solid;
  font-size: 30px;
  font-weight: 100;
  text-align: center;
  curson: pointer;
}
.footer .footerMid .socialMediaLinks .socialMedia .smletter {
  position: relative;
  top: -8px;
  cursor: pointer;
}
.footer .footerMid .socialMediaLinks div {
  display: inline-block;
}
.footer .footerRight {
  width: 266px;
}
.footer .footerRight .footerText {
  font-size: 14px;
}
.footer .footerRight .footerText u {
  cursor: pointer;
}
.footer .footerRight .footerText a {
  text-decoration: underline;
}
.footer .footerLinks {
  text-transform: uppercase;
  border-top-style: solid;
  font-size: 14px;
  position: relative;
  top: 28px;
  cursor: pointer;
}
.footer .footerLinks div {
  display: inline-block;
  padding-top: 23px;
}
.footer .footerLinks .terms {
  width: 161px;
}
.footer .footerLinks .privacy {
  width: 164px;
}
.footer .footerLinks .aboutus {
  width: 113px;
}
.footer .footerLinks .contact {
  width: 130px;
}
.progress_circles {
  position: relative;
  padding: 0;
  margin: 0;
  top: -8px;
  bottom: 40px;
}
.progress_circles li {
  list-style: none;
  display: inline-block;
  background: #ccc;
  width: 15px;
  height: 15px;
  border-radius: 50%;
  margin-right: 10px;
}
.progress_circles li.dark {
  background: #f26101;
}
.numberCircle {
  border-radius: 75%;
  /*behavior: url(PIE.htc); remove if you don't care about IE8 */
  width: 35px;
  height: 35px;
  padding: 8px;
  background: #003354;
  color: #ffffff;
  text-align: center;
  font-size: 18px;

}