<style type="text/css">



  .navbar-default {
    background-color: #f06223;
    border-color: #f06223;
  }
  .navbar-default .navbar-brand {
    color: #f1f1f1;
  }
  .navbar-default .navbar-brand:hover, .navbar-default .navbar-brand:focus {
    color: #2c436a;
  }
  .navbar-default .navbar-text {
    color: #f1f1f1;
  }
  .navbar-default .navbar-nav > li > a {
    color: #f1f1f1;
  }
  .navbar-default .navbar-nav > li > a:hover, .navbar-default .navbar-nav > li > a:focus {
    color: #2c436a;
  }
  .navbar-default .navbar-nav > .active > a, .navbar-default .navbar-nav > .active > a:hover, .navbar-default .navbar-nav > .active > a:focus {
    color: #2c436a;
    background-color: #f07b47;
  }
  .navbar-default .navbar-nav > .open > a, .navbar-default .navbar-nav > .open > a:hover, .navbar-default .navbar-nav > .open > a:focus {
    color: #2c436a;
    background-color: #f07b47;
  }
  .navbar-default .navbar-toggle {
    border-color: #f07b47;
  }
  .navbar-default .navbar-toggle:hover, .navbar-default .navbar-toggle:focus {
    background-color: #f07b47;
  }
  .navbar-default .navbar-toggle .icon-bar {
    background-color: #f1f1f1;
  }
  .navbar-default .navbar-collapse,
  .navbar-default .navbar-form {
    border-color: #f1f1f1;
  }
  .navbar-default .navbar-link {
    color: #f1f1f1;
  }
  .navbar-default .navbar-link:hover {
    color: #2c436a;
  }

  @media (max-width: 767px) {
    .navbar-default .navbar-nav .open .dropdown-menu > li > a {
      color: #f1f1f1;
    }
    .navbar-default .navbar-nav .open .dropdown-menu > li > a:hover, .navbar-default .navbar-nav .open .dropdown-menu > li > a:focus {
      color: #2c436a;
    }
    .navbar-default .navbar-nav .open .dropdown-menu > .active > a, .navbar-default .navbar-nav .open .dropdown-menu > .active > a:hover, .navbar-default .navbar-nav .open .dropdown-menu > .active > a:focus {
      color: #2c436a;
      background-color: #f07b47;
    }


  }

</style>

<div class="row">

  <div class="col-md-8 col-md-offset-2">

    <nav class="navbar navbar-default" role="navigation">
      <div class="container-fluid">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a href="#/index"><h3 class="logo-bold">Get<test class="logo-medium">Me</test>Pro</h3></a>
        </div>

        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">

          <ul class="nav navbar-nav navbar-right">
            <li><a href="#"><h5>Support: 1-800-123-4567</h5></a></li>
            <li><a href="#/manage/customer">
              <div class="btn-group">
                <button type="button" class="btn btn-warning dropdown-toggle">
                  Login
                </button>
              </div>
            </a></li>

          </ul>
        </div>
      </div>
    </nav>

  </div>


</div>



