<div class="btn-group" dropdown is-open="serviceCategoriesDropDownForInsertCtrl.status.isopen">
  <button type="button" class="btn btn-default dropdown-toggle" ng-disabled="disabled">
    {{serviceCategoriesDropDownForInsertCtrl.selectedName}} <span class="caret"></span>
  </button>
  <ul class="dropdown-menu" role="menu">
    <li ng-repeat="category in serviceCategoriesDropDownForInsertCtrl.categories">
      <a href ng-click="serviceCategoriesDropDownForInsertCtrl.changeSelected(category)">{{category.name}}</a>
    </li>
  </ul>
</div>
<input type="text" class="form-control" id="inputName" placeholder="" ng-model="serviceCategoriesDropDownForInsertCtrl.selectedId">