<div class="panel panel-primary">

  <div class="panel-heading">
    About Us

  </div>
  <div class="panel-body">
    <p>
      GetMePro is an online marketplace for residential and business customers to search for Qualified Service Providers to get their Home Theater Installation, Delivery Solutions and Home Automation.
    </p>
    <p>
      On a daily basis consumers and Businesses want some kind of Installation help for their Electronic systems to be setup through qualified Service Providers with specialized knowledge, Skill Sets and GetMePro plans to be a source for them to fulfill their needs.
    </p>
    <p>
      GetMePro is offering a range of packages for Consumers to have  Big Size TV's Delivered from your Store to your Home, Setup  TV's On-Stand, TV Installation, Media Room etc with a minimum budget for their home. Our services are not restricted to regular residential customers but we do offer solutions to Business customers for their needs which include Projector, Screen Installations and many other electronic services.
    </p>
    <p>
      For a customer, GetMePro will be a place to satisfy all your needs to find solutions for your electronic products to be Installed. As a customer you don't have to pick up yellow pages book or drive around to different stores to find an Installer to help setup your TV, Program your Universal Remote, Home Theater Setup etc.  GetMePro will connect you with a list of Service Providers to get the work done.
    </p>
    <p>
      GetMePro is not a place only for customers but a good way for Service Providers to get more Work Orders without even spending a dime. With this simple Web based Interface,  Service Providers are able to define their areas of expertise, Credentials, geographic coverage and the consumers will be able to provide ratings for the Service Providers who have successfully completed Work Orders in the past.
    </p>

  </div>

</div>