<div class="panel panel-primary">

  <div class="panel-heading">
    FAQ
  </div>
  <div class="panel-body">
    <h4>Who is a Customer?</h4>
    <p>
      A customer could be a Residential consumer or a Business entity customer who is looking for any kind of Electronic equipment Installation.
    </p><br>
    <h4>How do I make Payments for the packages?</h4>
    <p>
      As Agreed by you and the Service Provider Customer has to make Payment. The customer has to make a payment either by Cash, Check or Paypal to Service Provider directly or any other means as specified by the Service Provider in the Mode of Payment for Individual Packages.
    </p><br>
    <h4>What happens when Customer Starts Negotiation from GetMePro.com Website?</h4>
    <p>
      Customer will be contacted by Phone or by e-mail within 24 Hours.
    </p><br>
    <h4>What if the customer does not receive a Phone call or email within that time frame?</h4>
    <p>
      If the customer does not receive a phone call or email within 24 hours, they may contact GetMePro at sales@GetMePro.com
    </p><br>
    <h4>What time can I schedule the installation for?</h4>
    <p>
      Service Providers  Schedule Installation jobs from 8 a.m to 5 p.m Monday through Saturday. Usually 8-12 a.m ,12-4 p.m and after 4 p.m time-slots are provided by the Service Providers. Residential Home Theater Installation, Residential Projector Installations, Commercial Projector Installation and Commercial Screen Installations require 4-6 of Installation Time. It is recommended that the Customer choose a 8-12 a.m or 12-4 p.m time slots when choosing the Installation Time-Slot for packages which require  4-6 hour Installation time due to the length of the Installation Work.
    </p><br>
    <h4>Is electrical outlet provided part of the installation?</h4>
    <p>
      Service Provider does not install or move electrical outlets. If an electrical outlet needs to be moved or installed, it will be the responsibility of the customer to seek professional installation of the outlet by a licensed professional at the customer's expense.
    </p><br>
    <h4>Is there a Fee for using the Service and search for qualified Service Provider in your area?</h4>
    <p>
      The GetmePro.co Marketplace is a free service for customers to register, to search, pick a qualified service provider.
    </p><br>

    <h4>What kinds of items will the customer need on site in order for the service provider to complete the installation?</h4>
    <p>
      Most installations require some type of parts and accessories to be completed.  These accessories may include: mounts, brackets, wiring, cables, etc.  The exact nature of these items depends on the installation and the room in which you would like your consumer electronics installed.  All necessary Parts and accessories must be available onsite when the service provider arrives or a trip fee may be charged to you if the installation cannot take place or needs to be rescheduled. Customer is advised to discuss pre-requisite to be provided by the customer with the service provider.
    </p><br>
    <h4>How many days in advance do I need to inform of a cancellation or rescheduling of work to the service provider?</h4>
    <p>
      Cancellations or rescheduling must be made 24 hours in advance.  Please inform service provider as wells as GetMePro at  support@getmepro.com in case of cancellations or rescheduling.
    </p><br>
    <h4>Does the Customer sign a Work Order upon the completion of the installation?</h4>
    <p>
      Yes, the service provider will have a work order for the customer to sign stating that they are satisfied with the installation work.
    </p><br>
    <h4>What if the customer wants something done that isn't included within the scope of work?</h4>
    <p>
      The customer can pay the Service Provider directly for any additional work requested or necessary for installation to be completed. The customer must inform GetMePro.com at support@getmepro.com for such additional services.
    </p><br>
    <h4>What if the customer doesn't have all the equipment once the service provider is on site and the installation cannot be performed?</h4>
    <p>
      If the customer does not have the correct equipment on the day of installation, the service provider would have to reschedule for a time when the customer has all necessary parts and accessories. It is recommended you notify the service provider atleast 24 hours in advance to reschedule. This would also result in additional trip fee for the service provider.
    </p><br>
    <h4>I rent my apartment and would like my new LCD/LED mounted over the fireplace. Which installation is best for me?</h4>
    <p>
      Note that all renters will require written permission from the residence owner (Apartment Complex) before any mounting can take place.
    </p><br>
    <h4>What if I pay and the work isn't properly completed?</h4>
    <p>
      GetmePro makes partnership with knowledgeable service providers having several years of proven experience in market. GetMePro.com expects that the service provider picked by you does a professional job. In case you are not happy with the work performed by that service provider  then GetMePro will help you out in getting your work done by other service provider  approved by you and at the price earlier agreed by you and the previous service provider.
    </p><br>
    <p>
      Should you have any further questions you can contact GetMePro.com at support@getmepro.com
    </p>

  </div>
</div>